<div id="users">
    <div class="col-md-4 padtop20">
        <div>
            <a class="btn userbtn marrigtnone" ng-click="$ctrl.addNewUser()">Add New User</a>
            <a class="btn userbtn" ng-click="$ctrl.toggleUserStatus($ctrl.model.active)" ng-if="$ctrl.selectedUserId > 0">{{$ctrl.model.active ? 'Disable' : 'Enable'}} User</a>
        </div>
        <div class="padtop20">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search Users" ng-model="$ctrl.searchString">
                <span class="input-group-addon">
                    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                </span>
            </div>
        </div>
        <div class="btn-group btn-group-justified padtop20">
            <a class="btn" ng-class="{ 'btn-success': $ctrl.searchActive === null, 'btn-danger': $ctrl.searchActive !== null}" ng-click="$ctrl.searchActive = null">All</a>
            <a class="btn" ng-class="{ 'btn-success': $ctrl.searchActive === true, 'btn-danger': $ctrl.searchActive !== true }" ng-click="$ctrl.searchActive = true">Enabled</a>
            <a class="btn" ng-class="{ 'btn-success': $ctrl.searchActive === false, 'btn-danger': $ctrl.searchActive !== false }" ng-click="$ctrl.searchActive = false">Disabled</a>
        </div>
        <div class="usershearding"> <!--<img src="images/userminus.png">--> Users <span class="pull-right">Date Created</span><span class="pull-right" style="padding-right:90px">Status</span></div>
        <div class="padtop20">
            <ul class="usersearchresult">
                <li ng-repeat="user in $ctrl.users" ng-if="$ctrl.searchfilter(user)" ng-click="$ctrl.selectUser(user)" ng-style="user.id === $ctrl.selectedUserId && {'background-color':'#cad3ca'}">
                    <div class="searchright">{{user.firstName}}{{user.lastName}}</div>
                    <div class="pull-right padtop10">{{user.createdDttm}}</div>
                    <div class="pull-right padtop10 padleftright">{{(user.active ? 'Enabled' : 'Disabled')}}</div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 usersbrdleft" ng-if="$ctrl.selectedUserId !== null">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
        <uib-tabset active="$ctrl.selectedTab">
            <uib-tab index="0" heading="{{$ctrl.selectedUserId === 0 ? 'Add New User' : 'Update User'}}">
                <div class="tab-pane fade in active">
                    <form name="user" novalidate class="orgFORM">
                        <div class="col-md-12 slectBX">
                            <div class="col-md-6 slectBX" ng-class="{ 'has-error': user.username.$invalid }">
                                <label>
                                    User Name
                                </label>
                                <input type="text" class="formTXT" name="username"
                                       ng-model="$ctrl.model.username" ng-disabled="$ctrl.selectedUserId !== 0"
                                       required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.username.$error">
                                    <p ng-message="required">User Name is required.</p>
                                </div>
                            </div>
                            <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': user.username.$invalid }" ng-if="$ctrl.selectedUserId !== 0">
                                <label>
                                    Status
                                </label>
                                <input type="text" class="formTXT" name="username"
                                       value="{{$ctrl.model.active ? 'Enabled' : 'Disabled'}}" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-12 slectBX">
                            <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': user.password.$invalid }" ng-if="$ctrl.selectedUserId === 0">
                                <label>
                                    Password
                                </label>
                                <input type="password" class="formTXT" name="password"
                                       ng-model="$ctrl.model.password"
                                       required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.password.$error">
                                    <p ng-message="required">Password is required.</p>
                                </div>
                            </div>
                            <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': user.confirmPassword.$invalid }" ng-if="$ctrl.selectedUserId === 0">
                                <label>
                                    Confirm Password
                                </label>
                                <input type="password" class="formTXT" name="confirmPassword"
                                       ng-model="$ctrl.model.confirmPassword"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.confirmPassword.$error">
                                    <p ng-message="required">Confirm Password is required.</p>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.password && $ctrl.model.confirmPassword && $ctrl.model.password != $ctrl.model.confirmPassword">
                                    <p>Password & Confirm Password should match.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX">
                            <div class="col-md-6 slectBX" ng-class="{ 'has-error': user.firstName.$invalid }">
                                <label>First Name</label>
                                <input type="text" name="firstName" class="formTXT" ng-model="$ctrl.model.firstName" required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.firstName.$error">
                                    <p ng-message="required">First Name is required.</p>
                                </div>
                            </div>
                            <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': user.lastName.$invalid }">
                                <label>Last Name</label>
                                <input type="text" name="lastName" class="formTXT" ng-model="$ctrl.model.lastName" required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.lastName.$error">
                                    <p ng-message="required">Last Name is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX" ng-class="{ 'has-error': user.address.$invalid }">
                            <label>Address</label>
                            <input type="text" name="address" class="formTXT" ng-model="$ctrl.model.address" required>
                            <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.address.$error">
                                <p ng-message="required">Address is required.</p>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX">
                            <div class="col-md-12 slectBX" ng-class="{ 'has-error': user.city.$invalid }">
                                <label>City</label>
                                <input type="text" name="city" class="formTXT" ng-model="$ctrl.model.city" required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.city.$error">
                                    <p ng-message="required">City is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX">
                            <div class="col-md-6 slectBX" ng-class="{ 'has-error': user.state.$invalid }">
                                <label>State/Province</label>
                                <input type="text" name="state" class="formTXT" ng-model="$ctrl.model.state" required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.state.$error">
                                    <p ng-message="required">State/Province is required.</p>
                                </div>
                            </div>
                            <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': user.country.$invalid }">
                                <label>Country</label>
                                <input type="text" name="country" class="formTXT" ng-model="$ctrl.model.country" required>
                                <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.country.$error">
                                    <p ng-message="required">Country is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX" ng-class="{ 'has-error': user.email.$invalid }">
                            <label>Email</label>
                            <input type="text" name="email" class="formTXT"
                                   ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                   ng-model="$ctrl.model.email" required>
                            <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.email.$error">
                                <p ng-message="required">Email is required.</p>
                                <p ng-message="pattern">Email is not valid.</p>
                            </div>
                        </div>
                        <div class="col-md-12 slectBX" ng-class="{ 'has-error': user.phoneNumber.$invalid }">
                            <label>Phone Number</label>
                            <input type="text" name="phoneNumber" class="formTXT"
                                   phone-input
                                   ng-model="$ctrl.model.phoneNumber"
                                   phone
                                   required>
                            <div class="help-block" ng-if="$ctrl.userValidate" ng-messages="user.phoneNumber.$error">
                                <p ng-message="phone">Valid phone number is required.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="top30" align="center">
                            <input type="submit" value="SAVE" ng-click="$ctrl.save(user)" class="btn padleftright greenbtn" ng-if="$ctrl.selectedUserId === 0" />
                            <input type="submit" value="UPDATE" ng-click="$ctrl.update(user)" class="btn padleftright greenbtn" ng-if="$ctrl.selectedUserId > 0" />
                            <input type="submit" value="Change Password" ng-click="$ctrl.changePassword()" class="btn btn-danger" ng-if="$ctrl.selectedUserId > 0" />
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Organizations" disable="$ctrl.selectedUserId === 0" ng-click="$ctrl.getSelectedOrganizations()">
                <div class="col-md-9">
                    <div class="rolessearchresult padtop20 input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search Organization" ng-model="search.organizationName">
                        <span class="input-group-addon">
                            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Add Organization" class="btn btn-success pull-right" style="margin-top:20px" ng-click="$ctrl.addOrganization()" />
                </div>
                <ul class="rolessearchresult padtop10">
                    <li>
                        <div class="col-md-12 padtop10">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Global
                                    <input type="submit" value="Manage Roles" style="margin-top: -5px;" class="btn btn-info btn-sm pull-right" ng-click="$ctrl.manageRoles($ctrl.globalOrganization)" />
                                </div>
                                <div class="panel-body">
                                    <ul class="rolessearchresult">
                                        <li ng-repeat="role in $ctrl.globalOrganization.roles">
                                            {{role.roleName}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li ng-repeat="organization in $ctrl.selectedOrganizations | filter:search:strict" ng-if="!organization.global">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{organization.organizationName}}
                                    <input type="submit" value="Remove" style="margin-top: -5px;margin-left: 5px;" class="btn btn-danger btn-sm pull-right" ng-click="$ctrl.removeOrganization(organization)" />
                                    <input type="submit" value="Manage Roles" style="margin-top: -5px;" class="btn btn-info btn-sm pull-right" ng-click="$ctrl.manageRoles(organization)" />
                                </div>
                                <div class="panel-body">
                                    <ul class="rolessearchresult">
                                        <li ng-repeat="role in organization.roles">
                                            {{role.roleName}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="clearfix"></div>
</div>