<div id="roles">

    <div class="col-md-4 padtop20">
        <div>
            <a class="btn userbtn" ng-click="$ctrl.addNewRole()">Add New Role</a>
            <a class="btn userbtn marrigtnone" ng-if="$ctrl.selectedRole.id" ng-click="$ctrl.deleteRole()">Delete Role</a>
        </div>
        <div class="padtop20">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search Role" ng-model="search.roleName">
                <span class="input-group-addon">
                    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                </span>
            </div>
        </div>
        <div class="usershearding"> <!--<img src="images/userminus.png">--> Roles <span class="pull-right">Date Created</span></div>
        <div class="padtop20">
            <ul class="rolessearchresult">
                <li ng-repeat="role in $ctrl.roles | filter:search:strict" ng-click="$ctrl.selectRole(role)" ng-style="role === $ctrl.selectedRole && {'background-color':'#cad3ca'}">
                    <div class="padright7 pull-left">
                        <div class="checkbox">
                            <label>
                                <!--<input type="checkbox">-->
                            </label>
                        </div>
                    </div>

                    <div class="searchright">{{role.roleName}}</div>
                    <div class="pull-right padtop10">{{ role.createdDttm}}</div> <!--| time | date : 'MMM dd, yyyy - HH:mm:ss'-->
                    <div class="clearfix"></div>

                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 usersbrdleft" ng-if="$ctrl.selectedRole">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
        <div class="form-group top30">
            <input type="text" class="form-control" ng-model="$ctrl.selectedRole.roleName" placeholder="Role Name">
        </div>
        <!--<div class="padtop20">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search Role">
                <span class="input-group-addon">
                    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                </span>
            </div>
        </div>
        <div class="usershearding"> <img src="images/userminus.png"> Police <span class="pull-right">Date Created</span></div>-->
        <div class="padtop20" style="width:50%;float:left">
            <ul class="rolessearchresult">
                <li ng-repeat="pemission in $ctrl.permissions">
                    <div class="padright7 pull-left">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="$ctrl.selectPermission(pemission)"
                                       ng-checked="$ctrl.selectedRole.permissions.indexOf(pemission) > -1">
                            </label>
                        </div>
                    </div>
                    <div class="searchright">{{pemission}}</div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <button type="submit" class="btn btn-info" ng-if="$ctrl.selectedRole.id" ng-click="$ctrl.updateRole()">Update</button>
            <button type="submit" class="btn btn-success" ng-if="!$ctrl.selectedRole.id" ng-click="$ctrl.saveNewRole()">Save</button>
        </div>
        <div class="padtop20" style="width:50%;float:right">
            <textarea rows="5" ng-model="$ctrl.selectedRole.description" style="width: 100%;" placeholder="Description"></textarea>
        </div>
        <div class="padtop20" style="width:50%;float:right" ng-if="$ctrl.selectedRole.id">
            <button type="submit" class="btn btn-info" ng-if="$ctrl.selectedRole.id" ng-click="$ctrl.viewUsers($ctrl.selectedRole.id)">View Users</button>
            <ul class="rolessearchresult">
                <li ng-repeat="user in $ctrl.users">
                    <div class="searchright">{{user.firstName}} {{user.lastName}}</div>
                    <div class="clearfix"></div>
                </li>
            </ul>
            <div ng-if="$ctrl.users.length < 1">
                No users are available for this role.
            </div>
        </div>
        <!--<div class="adsfsrolesstrip">&nbsp;</div>-->
    </div>
    <div class="clearfix"></div>
</div>