<div class="whitebackground">
    <div class="row">
        <!--<div class="col-md-2">
            <select class="form-control" ng-model="$ctrl.scope" ng-change="$ctrl.search()" ng-disabled="!($ctrl.User.current.permissions.indexOf('ADMIN') > -1)">
                <option value="SYSTEM">SYSTEM</option>
                <option value="USER">USER</option>
            </select>
        </div>-->
        <div class="col-md-12 pull-right"><a class="btn btn-primary pull-right" ng-click="$ctrl.addRule()">Add Rule</a></div>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md12">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                <strong>Error!</strong> {{$ctrl.error}}
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Alert Name</th>
                    <th>Metric</th>
                    <th>Condition</th>
                    <th>Value</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{::item.alertName}}</td>
                    <td>{{::item.metric}}</td>
                    <td>{{::item.comparisonType}}</td>
                    <td>{{::item.numericValue}}</td>
                    <td>{{::item.durationAmount}} {{::item.durationUnit}}</td>
                    <td>
                        <a class="btn btn-default" ng-click="$ctrl.edit(item)">Edit</a>
                        <a class="btn btn-info" ng-click="$ctrl.sync(item)">Sync</a>
                        <a class="btn btn-success" ng-if="!item.silenced" ng-click="$ctrl.silenced(item)">Silenced</a>
                        <a class="btn btn-warning" ng-if="item.silenced" ng-click="$ctrl.unsilenced(item)">Unsilenced</a>
                        <a class="btn btn-danger" ng-click="$ctrl.delete(item)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>