<div>
    <div>
        <div class="form-group col-lg-12 alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
        <div class="form-group col-lg-12">
            <label>
                Name
            </label>
            <input type="text" class="form-control" ng-model="$ctrl.model.alertName" placeholder="My test alert rule">
        </div>
        <!--<div class="form-group col-lg-2">
            <label>
                Scope
            </label>
            <select class="form-control" ng-model="$ctrl.scope" ng-disabled="!($ctrl.User.current.permissions.indexOf('ADMIN') > -1)">
                <option value="SYSTEM">SYSTEM</option>
                <option value="USER">USER</option>
            </select>
        </div>-->
        <div class="form-group col-lg-4">
            <label>
                Metrics
            </label>
            <select class="form-control" ng-model="$ctrl.model.metric">
                <option ng-repeat="m in $ctrl.matrics" value="{{m.name}}">
                    {{m.name}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label>
                Condition
            </label>
            <select class="form-control" ng-model="$ctrl.model.comparisonType">
                <option value="GREATER">></option>
                <option value="GREATEREQUAL">>=</option>
                <option value="NOTEQUAL">!=</option>
                <option value="EQUAL">=</option>
                <option value="LESS"><</option>
                <option value="LESSEQUAL"><=</option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label>
                &nbsp;
            </label>
            <input type="number" step="0.01" class="form-control" placeholder="99.9" ng-model="$ctrl.model.numericValue">
        </div>
        <div class="form-group col-lg-2">
            <label>
                Duration
            </label>
            <input type="number" step="1" class="form-control" placeholder="5" ng-model="$ctrl.model.durationAmount">
        </div>
        <div class="form-group col-lg-2">
            <label>
                &nbsp;
            </label>
            <select class="form-control" ng-model="$ctrl.model.durationUnit">
                <option value="SECONDS">SECONDS</option>
                <option value="MINUTES">MINUTES</option>
                <option value="HOURS">HOURS</option>
                <option value="DAYS">DAYS</option>
                <option value="WEEKS">WEEKS</option>
                <option value="YEARS">YEARS</option>
            </select>
        </div>
        <div class="col-lg-12" align="center">
            <a class="btn btn-default" href="#/configure-alerts">
                Back
            </a>
            <button type="button" class="btn btn-success" ng-click="$ctrl.addAlertRule()">
                Save
            </button>
            <!--<button type="button" class="btn btn-info">
                Sync
            </button>-->
        </div>
    </div>
</div>
