<div class="col-md-2 leftgraybg ng-scope">
    <div class="form-group text-center"><strong>{{::$ctrl.$storage.dataPipeline.organization.name}}</strong></div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Untitled Datapipeline" ng-model="$ctrl.$storage.dataPipeline.name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="code" placeholder="123-4566-22" ng-model="$ctrl.$storage.dataPipeline.code">
    </div>
    <div class="form-group text-center">
        <strong>
            <a class="blacklinktext" ngclipboard data-clipboard-target="#code">Copy Code</a>
        </strong>
    </div>
    <hr>
    <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Add Description (Optional)" ng-model="$ctrl.$storage.dataPipeline.description"></textarea>
    </div>
    <div class="form-group text-center">
        <a class="blacklinktext" ng-click="$ctrl.save()" ng-if="!$ctrl.$storage.dataPipeline.id">Save</a>
        <a class="blacklinktext" ng-click="$ctrl.update()" ng-if="$ctrl.$storage.dataPipeline.id">Update</a>
    </div>
</div>
<div class="col-md-10">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
        <strong>Error!</strong> {{$ctrl.error}}
    </div>
    <div class="col-md-12" ng-if="$ctrl.$storage.dataPipeline.id">
        <div class="pull-right marginleft10">
            <!--<span class="label label-info" ng-if="$ctrl.$storage.dataPipeline.status">
                {{::$ctrl.$storage.dataPipeline.status}}
            </span>-->
            <button type="button" class="btn btn-primary"
                    ng-class="{ 'test' : !($ctrl.$storage.dataPipeline.status && $ctrl.$storage.dataPipeline.status !== 'INCOMPLETE')}"
                    ng-disabled="!($ctrl.$storage.dataPipeline.status && $ctrl.$storage.dataPipeline.status !== 'INCOMPLETE')" ng-click="$ctrl.testDatapipeline()">
                TEST
            </button>
            <a class="btn btn-default" href="#/datapipeline">
                BACK
            </a>
        </div>
        <!--<div class="pull-right roundeddiv marginleft10">
            <div class="inactivedot"></div>
            <div class="pull-left">Inactive</div>
        </div>-->
    </div>
    <div class="flowchartwarp top50" ng-if="$ctrl.$storage.dataPipeline.id">
        <div class="pull-left">
            <div class="boxwarp">
                <input type="search" name="searchDevice" class="form-control" ng-model="$ctrl.selectedDevice" ng-if="!$ctrl.$storage.dataPipeline.device"
                       typeahead-on-select="$ctrl.selectDevice($item, $model, $label)"
                       uib-typeahead="device.name for device in $ctrl.devices | filter:$viewValue | limitTo:10"
                       placeholder="Search Device">
                <button class="btn btn-selectbutton" ng-if="$ctrl.$storage.dataPipeline.device">
                    {{::$ctrl.$storage.dataPipeline.device.name}}
                    <img src="images/close-button.png" ng-click="$ctrl.removeDevice()">
                </button>
            </div>
        </div>
        <div class="pull-left arrowpad"><img src="images/rightarrow.jpg" alt=""></div>
        <div class="pull-left">
            <div class="boxwarp">
                <input type="search" name="searchDataType" class="form-control" ng-model="$ctrl.selectedDataType"
                       typeahead-on-select="$ctrl.selectDataType($item, $model, $label)" ng-disabled="!$ctrl.$storage.dataPipeline.device"
                       ng-if="!$ctrl.$storage.dataPipeline.dataType"
                       uib-typeahead="dataType.name for dataType in $ctrl.dataTypes | filter:$viewValue | limitTo:10"
                       placeholder="Search Data Types">
                <button class="btn btn-selectbutton" ng-if="$ctrl.$storage.dataPipeline.dataType">
                    {{::$ctrl.$storage.dataPipeline.dataType.name}}
                    <img src="images/close-button.png" ng-click="$ctrl.removeDataType()">
                </button>
            </div>
        </div>
        <div class="pull-left arrowpad"><img src="images/rightarrow.jpg" alt=""></div>
        <div class="pull-left">
            <div class="boxwarp">
                <select class="form-control" ng-change="$ctrl.selectVersion()" ng-model="$ctrl.selectedVersion" ng-disabled="!$ctrl.$storage.dataPipeline.dataType"
                        ng-options="y for (x, y) in $ctrl.versions"></select>
            </div>
        </div>
        <div class="pull-left arrowpad"><img src="images/rightarrow.jpg" alt=""></div>
        <div class="pull-left" ng-class="{ 'roundbrdright' : $ctrl.$storage.dataPipeline.processes.length > 0 }">
            <div ng-if="$ctrl.$storage.dataPipeline.processes.length > 0">
                <div class="roundwarp erroractive" style="cursor:move" data-drop="true" data-drag="true" ng-model="$ctrl.$storage.dataPipeline.processes"
                     jqyoui-droppable="{index: {{$index}}, onDrop: '$ctrl.update()'}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection', animate: true }"
                     data-jqyoui-options="{revert: 'invalid'}"
                     data-direction="{{p.jqyouiDirection}}" ng-repeat="process in $ctrl.$storage.dataPipeline.processes">
                    <div>
                        <div class="draground">&nbsp;</div>
                        <div class="text-center small">
                            {{::process.name}}
                        </div>
                        <div class="arrowwrap"><img src="images/verticalarrow.png" alt=""></div>
                    </div>
                    <div style="float:right;top:0px;position:absolute;right:-25px;cursor:pointer">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit process" ng-click="$ctrl.editProcess(process.sequence)"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" title="remove process" ng-click="$ctrl.removeProcess($index)"></span>
                    </div>
                </div>
            </div>
            <div class="boxwarp">
                <div class="pull-left top10"> <span class="glyphicon glyphicon-plus-sign"></span></div>
                <div class="pull-left marginleft10 blacklink">
                    <button class="addprocess" ng-click="$ctrl.selectProcess()" ng-style="$ctrl.$storage.dataPipeline.dataTypeVersion && {'color':'black'}" ng-disabled="!$ctrl.$storage.dataPipeline.dataTypeVersion">
                        Add<br>
                        Process
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="leftarrow"><img src="images/leftarrowwithbg.png" alt=""> </div>
            <div class="whiteabdiv" ng-if="$ctrl.$storage.dataPipeline.processes.length > 0">&nbsp;</div>
        </div>
        <div class="pull-left arrowpad"><img src="images/rightarrow.jpg" alt=""></div>
        <div class="pull-left">
            <div ng-if="$ctrl.$storage.dataPipeline.distribution">
                <div class="mqttwarp" style="position:relative">
                    <div>
                        <div><img src="images/mqtt.png" width="52" height="49" alt=""></div>
                        <div class="small top5">{{$ctrl.$storage.dataPipeline.distribution.name}}</div>
                    </div>
                    <div style="float:right;top:0px;position:absolute;right:-25px;cursor:pointer">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit distribution" ng-click="$ctrl.editDistribution(process.sequence)"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" title="remove distribution" ng-click="$ctrl.removeDistribution()"></span>
                    </div>
                </div>

            </div>
            <div class="boxwarp" ng-if="!$ctrl.$storage.dataPipeline.distribution">
                <div class="pull-left top10"> <span class="glyphicon glyphicon-plus-sign"></span></div>
                <div class="pull-left marginleft10 blacklink">
                    <span id="DefineDistributionpop">
                        <button class="addprocess" ng-click="$ctrl.selectDistribution()"
                                ng-style="$ctrl.$storage.dataPipeline.processes && {'color':'black'}"
                                ng-disabled="!$ctrl.$storage.dataPipeline.processes.length > 0">
                            Define<br>
                            Distribution
                        </button>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<!--Processing-->
<div id="processingdiv" ng-if="$ctrl.showProcessStep1">
    <div class="pophearder">
        <strong>Processing</strong>
        <div class="popupclose" id="distributiontbdclose" ng-click="$ctrl.closePopup()">X</div>
    </div>
    <div>
        <ul class="processdragitem">
            <li ng-repeat="p in $ctrl.processingUnits" ng-click="$ctrl.addProcess(p)">
                <div class="draground">&nbsp;</div>
                <div>
                    {{::p.name}}
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div id="itempopcontainer" ng-if="$ctrl.showProcessStep2">
    <div class="pophearder">
        {{::$ctrl.selectedProcess.name}}
        <div class="popupclose" ng-click="$ctrl.closePopup()">X</div>
    </div>
    <div json-editor ng-model="$ctrl.selectedProcess.inputFormatTemplate" options="{mode: 'code'}" style="width: 100%; height: 400px;"></div>
    <div class="text-center pad15"><a class="btn padleftright greenbutton" ng-if="!$ctrl.edit" ng-click="$ctrl.submitProcess()">SUBMIT</a></div>
    <div class="text-center pad15"><a class="btn padleftright greenbutton" ng-if="$ctrl.edit" ng-click="$ctrl.updateProcess()">UPDATE</a></div>
</div>
<!--distribution-->
<div id="processingdiv" ng-if="$ctrl.showDistribution1">
    <div class="pophearder">
        <strong>Distribution</strong>
        <div class="popupclose" id="distributiontbdclose" ng-click="$ctrl.closePopup()">X</div>
    </div>
    <div>
        <ul class="processdragitem">
            <li ng-repeat="d in $ctrl.distributionUnits" ng-click="$ctrl.addDistribution(d)">
                <div class="draground">&nbsp;</div>
                <div>
                    {{::d.name}}
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div id="distributioncontainer" ng-if="$ctrl.showDistribution2">
    <div class="pophearder">
        {{::$ctrl.selectedDistribution.name}}
        <div class="popupclose" id="distributiontbdclose" ng-click="$ctrl.closePopup()">X</div>
    </div>
    <div json-editor ng-model="$ctrl.selectedDistribution.inputFormatTemplate" options="{mode: 'code'}" style="width: 100%; height: 400px;"></div>
    <div class="text-center pad15"><a class="btn padleftright greenbutton" ng-if="!$ctrl.edit" ng-click="$ctrl.submitDistribution()">SUBMIT</a></div>
    <div class="text-center pad15"><a class="btn padleftright greenbutton" ng-if="$ctrl.edit" ng-click="$ctrl.updateDistribution()">UPDATE</a></div>
</div>