<div class="datapipelinebox">
    <div><h4>Create a data pipeline</h4></div>
    <div class="top15">
        <select class="form-control" ng-change="$ctrl.selectOrganization()" ng-model="$ctrl.selectedOrganization"
                ng-options="(y.name + ' - ' + y.code) for (x, y) in $ctrl.organizations"></select>
    </div>
</div>
