﻿<div class="container">
    <div class="pull-right">
        <a class="btn btn-default" ng-click="$ctrl.edit()">Edit</a>
        <a class="btn btn-default" href="#/datapipeline">Back to List</a>
    </div>
</div>
<br />
<div>
    <div class="panel panel-primary" ng-repeat="item in $ctrl.history">
        <div class="panel-heading"> Result: <span class="label label-info">{{item.approvalStatus}}</span></div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td><strong>Url</strong></td>
                    <td>{{item.inputUrl}}</td>
                </tr>
                <tr>
                    <td><strong>Executed By</strong></td>
                    <td>{{item.executedBy}} at {{item.executedDttm}}</td>
                </tr>
                <tr>
                    <td><strong>Total Duration</strong></td>
                    <td>{{$ctrl.getTotalDuration(item.processingUnitTestResults)}} millisecond</td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <table class="table table-bordered" ng-repeat="result in item.processingUnitTestResults" >
                <tr>
                    <td>
                        <strong>Unit Name</strong>
                    </td>
                    <td>
                        {{result.procesingUnitname}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Output Url</strong>
                    </td>
                    <td>
                        <a ng-click="$ctrl.downloadPipelineTestOutput(result.outputUrl)">{{result.outputUrl}}</a>
                    </td>
                </tr>
                <tr ng-if="result.errorMessage">
                    <td>
                        <strong>Error Message</strong>
                    </td>
                    <td>
                        {{result.errorMessage}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Duration</strong>
                    </td>
                    <td>
                        {{result.duration}} millisecond
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>