<div class="whitebackground">
    <div>
        <div class="col-md-2">
            <input type="search" class="form-control" ng-model="$ctrl.selectedOrganization"
                   typeahead-on-select="$ctrl.selectOrganization($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedOrganization"
                   uib-typeahead="organization.name for organization in $ctrl.organizations | filter:$viewValue | limitTo:10"
                   placeholder="Search Organization">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedOrganization">
                {{::$ctrl.searchFilter.selectedOrganization.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeOrganization()">
            </button>
        </div>
        <div class="col-md-2">
            <select ng-model="$ctrl.searchFilter.status" class="btn btn-default" placeholder="Status">
                <option value="">All</option>
                <option ng-repeat="status in $ctrl.statuses" value="{{status}}">{{status}}</option>
            </select>
        </div>
        <div class="col-md-2"> <input class="form-control" ng-model="$ctrl.searchFilter.dataPipelineName" placeholder="Seach Data Pipeline" /></div>
        <div class="col-md-2">
            <input type="search" class="form-control" ng-model="$ctrl.selectedDevice"
                   typeahead-on-select="$ctrl.selectDevice($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedDevice"
                   uib-typeahead="device.name for device in $ctrl.devices | filter:$viewValue | limitTo:10"
                   placeholder="Search Device">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedDevice">
                {{::$ctrl.searchFilter.selectedDevice.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeDevice()">
            </button>
        </div>
        <div class="col-md-3">
            <input type="search" class="form-control" ng-model="$ctrl.selectedDataType"
                   typeahead-on-select="$ctrl.selectDataType($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedDataType"
                   uib-typeahead="dataType.name for dataType in $ctrl.dataTypes | filter:$viewValue | limitTo:10"
                   placeholder="Search Source Format">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedDataType">
                {{::$ctrl.searchFilter.selectedDataType.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeDataType()">
            </button>
        </div>
        <div class="col-md-1"><a class="btn btn-primary pull-right" ng-click="$ctrl.search()">SEARCH</a></div>
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Source Format</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{::item.organizationName}}</td>
                    <td><a ui-sref="app.datapipeline-history({ datapipelineId: item.id})">{{::item.name}}</a></td>
                    <td>{{(item.sourceName) ? item.sourceName : 'All'}}</td>
                    <td>{{::item.sourceFormatName}}</td>
                    <td>{{item.approvalStatus}}</td>
                    <td>
                        <a class="btn btn-default" ng-click="$ctrl.edit(item.id)">Edit</a>
                        <a class="btn greenbtn" ng-click="$ctrl.approve(item)" ng-if="item.approvalStatus === 'READY_FOR_APPROVAL'">APPROVE</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"
            ng-change="$ctrl.pageChanged()" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>