<div class="whitebackground">
    <div class="row">
        <div class="col-md-2"> <input class="form-control" ng-model="$ctrl.searchFilter.name" placeholder="Name" /></div>
        <div class="col-md-2"> <input class="form-control" ng-model="$ctrl.searchFilter.description" placeholder="Description" /></div>
        <div class="col-md-2"> <input class="form-control" ng-model="$ctrl.searchFilter.className" placeholder="Class Name" /></div>
        <div class="col-md-2">
            <select class="form-control btn btn-default" ng-model="$ctrl.searchFilter.status">
                <option value="">Status-All</option>
                <option value="true">Enable</option>
                <option value="false">Disable</option>
            </select>
        </div>
        <div class="col-md-2">
            <select ng-model="$ctrl.searchFilter.processingUnitType" class="form-control btn btn-default" placeholder="Processing Unit Type">
                <option value="">Type-All</option>
                <option ng-repeat="processingUnitType in $ctrl.$storage.processingUnitTypes" value="{{processingUnitType.type}}">{{processingUnitType.type}}</option>
            </select>
        </div>
        <div class="col-md-1"><a class="btn btn-primary pull-right" ng-click="$ctrl.search()">SEARCH</a></div>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md12">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                <strong>Error!</strong> {{$ctrl.error}}
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Class Name</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{::item.name}}</td>
                    <td>{{::item.description}}</td>
                    <td>{{::item.className}}</td>
                    <td>{{::item.type}}</td>
                    <td>
                        <a class="btn btn-info" ng-click="$ctrl.edit(item)">Edit</a>
                        <a class="btn btn-success" ng-if="!item.status" ng-click="$ctrl.enable(item)">Enable</a>
                        <a class="btn btn-danger" ng-if="item.status" ng-click="$ctrl.disable(item)">Disable</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"
            ng-change="$ctrl.pageChanged()" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>