﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Processing Unit Type</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="processingUnitType" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content top30">
                            <div ng-class="{ 'has-error': processingUnitType.name.$invalid }">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="type" ng-model="$ctrl.model.type" required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="processingUnitType.name.$error">
                                    <p ng-message="required">Type is required.</p>
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': processingUnitType.description.$invalid }">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="description"
                                           placeholder="description" ng-model="$ctrl.model.description">
                                </div>
                            </div>
                            <div class="text-center pad15">
                                <a class="btn  padleftright  greenbutton btnNext" ng-click="$ctrl.save(processingUnitType)">SAVE</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>