﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Tag</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="addTag" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content top30">
                            <div ng-class="{ 'has-error': addTag.tagName1.$invalid }">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="tagName1"
                                           placeholder="powerview" ng-model="$ctrl.model.name" ng-pattern="/^([0-9a-zA-Z-_]+)$/" required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addTag.tagName1.$error">
                                    <p ng-message="required">Name is required.</p>
                                    <p ng-message="pattern">Not a valid name.</p>
                                </div>
                            </div>
                            <div class="text-center pad15">
                                <a class="btn  padleftright  greenbutton btnNext" ng-click="$ctrl.save(addTag)">SAVE</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>