﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="changePassword" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content">
                            <div ng-class="{ 'has-error': changePassword.password.$invalid }">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password"
                                           placeholder="Password" ng-model="$ctrl.model.password"
                                           required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="changePassword.password.$error">
                                    <p ng-message="required">Password is required.</p>
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': changePassword.confirmPassword.$invalid }">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirmPassword" ng-model-options="{ updateOn: 'blur' }"
                                           placeholder="Confirm Password" ng-model="$ctrl.model.confirmPassword"
                                           required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="changePassword.confirmPassword.$error">
                                    <p ng-message="required">Confirm Password is required.</p>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.password && $ctrl.model.confirmPassword && $ctrl.model.password != $ctrl.model.confirmPassword">
                                    <p>Password & Confirm Password should match.</p>
                                </div>
                            </div>
                            <div class="text-center pad15"><a class="btn padleftright greenbutton btnNext" ng-click="$ctrl.update(changePassword)">UPDATE</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>