﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{$ctrl.modeLabel}}</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="addDataType" novalidate>
                    <div id="createdatatypetab">
                        <uib-tabset active="$ctrl.selectedTab">
                            <uib-tab index="0" heading="Step 1: Define Datatype">
                                <div class="tab-content top30">
                                    <div ng-class="{ 'has-error': addDataType.dataTypename.$invalid }">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="dataTypename"
                                                   placeholder="powerview-power-core" ng-model="$ctrl.model.name"
                                                    ng-pattern="/^([0-9a-zA-Z-_*]+)$/" required>
                                        </div>
                                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDataType.dataTypename.$error">
                                            <p ng-message="required">Data Source Type is required.</p>
                                            <p ng-message="pattern">Not a valid name.</p>
                                        </div>
                                    </div>
                                    <div ng-class="{ 'has-error': addDataType.version.$invalid }">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="version"
                                                   placeholder="v1.0" ng-model="$ctrl.model.version" required>
                                        </div>
                                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDataType.version.$error">
                                            <p ng-message="required">Version is required.</p>
                                        </div>
                                    </div>
                                    <div class="form-group"><textarea class="form-control" rows="3" placeholder="Add Description (Optional)" ng-model="$ctrl.model.description"></textarea></div>
                                    <div class="form-group" ng-class="{ 'has-error': addDataType.dataSourceCategory.$invalid }">
                                        <div><label>Select Data Type Device</label></div>
                                        <span ng-repeat="sourceCategory in ::$ctrl.sourceCategories">
                                            <label class="radio-inline">
                                                <input type="radio" name="dataSourceCategory" ng-model="$ctrl.model.dataSourceCategory"
                                                       required ng-value="{{sourceCategory.id}}">{{sourceCategory.name}}
                                            </label>
                                        </span>
                                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDataType.dataSourceCategory.$error">
                                            <p ng-message="required">Data Source Category is required.</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': addDataType.sourceFormatType.$invalid }">
                                        <div><label>Select Source Format Type</label></div>
                                        <select name="sourceFormatType" ng-model="$ctrl.model.sourceFormatType">
                                            <option ng-repeat="type in ::$ctrl.sourceFormatTypes" value="{{type}}">{{type}}</option>
                                        </select>
                                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="addDataType.sourceFormatType.$error">
                                            <p ng-message="required">Source Format Type is required.</p>
                                        </div>
                                    </div>
                                    <div class="text-center pad15"><a class="btn  padleftright  greenbutton btnNext" ng-click="$ctrl.next(addDataType)">NEXT</a></div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Add Tags (Optional)">
                                <div class="tab-content top30">
                                    <div class="form-group">
                                        <input type="search" name="searchTag" class="form-control"
                                               ng-model="$ctrl.selectedTag" typeahead-on-select="$ctrl.selectTag($item, $model, $label)"
                                               uib-typeahead="tag.name for tag in $ctrl.$storage.tags | filter:$viewValue | limitTo:10" id="tags"
                                               placeholder="Search Tags" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <div class="formTXT srcBTNS">
                                            <button class="btn btn-selectbutton" ng-repeat="tag in $ctrl.model.selectedTags track by $index">{{tag.name}}<img src="images/close-button.png" ng-click="$ctrl.removeTag(tag.id)"></button>
                                        </div>
                                    </div>
                                    <div class="form-group top30 text-center">
                                        <a class="linktext" ng-click="$ctrl.addTag()"> Create New Tag</a>
                                    </div>
                                    <div class="text-center pad15"><a class="btn padleftright greenbutton" ng-click="$ctrl.save(addDataType)">SAVE</a></div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>