﻿<!-- ADD Device Modal -->
<div class="" id="adddevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Set up Test</h4>
            </div>
            <div class="modalgraybg">
                <form name="testDatapileline" novalidate ng-if="$ctrl.model.step === 1">
                    <div class="form-group" ng-class="{ 'has-error': testDatapileline.url.$invalid }">
                        <input type="text" class="form-control" name="url" placeholder="Add S3 Bucket Data File URL"
                               ng-pattern="/^s3://([^/]+)/(.*?([^/]+)/?)$/" ng-model="$ctrl.model.url" required>
                        <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="testDatapileline.url.$error">
                            <p ng-message="required">Url is required.</p>
                            <p ng-message="pattern">Not a valid url.</p>
                        </div>
                    </div>
                    <div class="text-center pad15"><a class="btn  padleftright  greenbutton" ng-click="$ctrl.submitForTest(testDatapileline)">SUBMIT TEST</a></div>
                </form>
                <form ng-if="$ctrl.model.step === 2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td><strong>Url</strong></td>
                                    <td>{{::$ctrl.model.processingUnitTestResults.inputUrl}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Executed By</strong></td>
                                    <td>{{::$ctrl.model.processingUnitTestResults.executedBy}} at {{::$ctrl.model.processingUnitTestResults.executedDttm}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Total Duration</strong></td>
                                    <td>{{$ctrl.getTotalDuration($ctrl.model.processingUnitTestResults.processingUnitTestResults)}} millisecond</td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <table class="table table-bordered" ng-repeat="result in ::$ctrl.model.processingUnitTestResults.processingUnitTestResults">
                                <tr>
                                    <td>
                                        <strong>Unit Name</strong>
                                    </td>
                                    <td>
                                        {{result.procesingUnitname}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Output Url</strong>
                                    </td>
                                    <td>
                                        <a ng-click="$ctrl.downloadPipelineTestOutput(result.outputUrl)">{{result.outputUrl}}</a>
                                    </td>
                                </tr>
                                <tr ng-if="result.errorMessage">
                                    <td>
                                        <strong>Error Message</strong>
                                    </td>
                                    <td>
                                        {{result.errorMessage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Duration</strong>
                                    </td>
                                    <td>
                                        {{result.duration}} millisecond
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="text-center pad15" ng-if="$ctrl.model.status === 'TEST_PASSED'">
                        <a class="btn  padleftright  greenbutton" ng-click="$ctrl.submitForApproval(testDatapileline)">SUBMIT FOR APPROVAL</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>