﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Device Registration</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="deviceRegistration" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                                    <strong>Error!</strong> {{$ctrl.error}}
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': deviceRegistration.deviceId.$invalid }">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="deviceId"
                                           placeholder="Device Id" ng-model="$ctrl.model.deviceId"
                                           ng-pattern="/^([0-9a-zA-Z-_*]+)$/" required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="deviceRegistration.deviceId.$error">
                                    <p ng-message="required">Device id is required.</p>
                                    <p ng-message="pattern">Not a valid device id.</p>
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': deviceRegistration.registrationId.$invalid }">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="registrationId" readonly="readonly"
                                           placeholder="Registration Id" ng-model="$ctrl.model.registrationId" required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="deviceRegistration.registrationId.$error">
                                    <p ng-message="required">registrationId is required.</p>
                                </div>
                            </div>
                            <div class="text-center pad15"><a class="btn  padleftright  greenbutton btnNext" ng-click="$ctrl.save(deviceRegistration)">SAVE</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>