﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Organization</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form novalidate>
                    <div class="input-group stylish-input-group" style="width:100%">
                        <input type="text" class="form-control" ng-model="$ctrl.selectedOrganization"
                               typeahead-on-select="$ctrl.selectOrganization($item, $model, $label)"
                               ng-if="!$ctrl.searchFilter.selectedOrganization"
                               uib-typeahead="organization.name for organization in $ctrl.organizations | filter:$viewValue | limitTo:10"
                               placeholder="Select Organization">
                        <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedOrganization">
                            {{::$ctrl.searchFilter.selectedOrganization.name}}
                            <img src="images/close-button.png" ng-click="$ctrl.removeOrganization()">
                        </button>
                    </div>
                    <div class="input-group stylish-input-group padtop10">
                        <input type="text" class="form-control" placeholder="Search Role" ng-model="search.roleName">
                        <span class="input-group-addon">
                            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                        </span>
                    </div>
                    <ul class="rolessearchresult">
                        <li ng-repeat="role in $ctrl.roles | filter:search:strict">
                            <div class="padright7 pull-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="$ctrl.selectRole(role)"
                                               ng-checked="$ctrl.checkRole(role)">
                                    </label>
                                </div>
                            </div>
                            <div class="searchright">{{role.roleName}}</div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <input type="submit" ng-if="$ctrl.searchFilter.selectedOrganization" value="SAVE" ng-click="$ctrl.save()" class="btn padleftright greenbtn" />
                </form>
            </div>
        </div>
    </div>
</div>