﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{$ctrl.organizationCode}}: Manage Roles</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form novalidate>
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search Role" ng-model="search.roleName">
                        <span class="input-group-addon">
                            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                        </span>
                    </div>
                    <ul class="rolessearchresult">
                        <li ng-repeat="role in $ctrl.roles | filter:search:strict">
                            <div class="padright7 pull-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-click="$ctrl.selectRole(role)"
                                               ng-checked="$ctrl.checkRole(role)">
                                    </label>
                                </div>
                            </div>
                            <div class="searchright">{{role.roleName}}</div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <input type="submit" value="UPDATE" ng-click="$ctrl.updateRole()" class="btn padleftright greenbtn" />
                </form>
            </div>
        </div>
    </div>
</div>