﻿<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">No Permission</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="addTag" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content">
                            <div>
                                Sorry, but you don't have permission to perform some actions.
                            </div>
                            <div class="text-center pad15">
                                <a class="btn  padleftright  greenbutton btnNext" ng-click="$ctrl.close()">CLOSE</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>