<div id="createdatatypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Processing Unit</h4>
            </div>
            <div class="modal-body modalgraybg">
                <form name="processingUnit" novalidate>
                    <div id="createdatatypetab">
                        <div class="tab-content">
                            <div class="form-group alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                                <strong>Error!</strong> {{$ctrl.error}}
                            </div>
                            <div ng-class="{ 'has-error': processingUnit.name.$invalid }">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name"
                                           placeholder="Name" ng-model="$ctrl.model.name"
                                           required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="processingUnit.name.$error">
                                    <p ng-message="required">Name is required.</p>
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': processingUnit.description.$invalid }">
                                <div class="form-group">
                                    <label for="name">Description</label>
                                    <input type="text" class="form-control" name="description"
                                           placeholder="Description" ng-model="$ctrl.model.description">
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': processingUnit.className.$invalid }">
                                <div class="form-group">
                                    <label for="name">Class Name</label>
                                    <input type="text" class="form-control" name="className"
                                           placeholder="Class Name" ng-model="$ctrl.model.className"
                                           required>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="processingUnit.className.$error">
                                    <p ng-message="required">Class Name is required.</p>
                                </div>
                            </div>
                            <div ng-class="{ 'has-error': processingUnit.inputFormatTemplate.$invalid }">
                                <div class="form-group">
                                    <label for="name">Input Format Template</label>
                                    <div json-editor ng-model="$ctrl.model.inputFormatTemplate" options="{mode: 'code'}" style="width: 100%; height: 200px;"></div>
                                    <!--<textarea class="form-control" rows="3" name="inputFormatTemplate" ng-model="$ctrl.model.inputFormatTemplate"
                                              placeholder="Input Format Template"
                                              required></textarea>-->
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate && !$ctrl.model.inputFormatTemplate">
                                    <p>Input Format Template is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': processingUnit.type.$invalid }">
                                <div>
                                    <label>SelectType</label>
                                    <select name="sourceFormatType" class="btn btn-default" ng-model="$ctrl.model.type">
                                        <option ng-repeat="type in $ctrl.$storage.processingUnitTypes" value="{{type.type}}">{{type.type}}</option>
                                    </select>
                                    <a class="linktext padleftright" ng-click="$ctrl.addProcessingUnitType()">Create New Type</a>
                                </div>
                                <div class="help-block" ng-if="$ctrl.model.validate" ng-messages="processingUnit.type.$error">
                                    <p ng-message="required">Source Format Type is required.</p>
                                </div>
                            </div>
                            <div class="text-center" ng-if="!$ctrl.model.id"><a class="btn padleftright greenbutton btnNext" ng-click="$ctrl.save(processingUnit)">Save</a></div>
                            <div class="text-center" ng-if="$ctrl.model.id"><a class="btn padleftright greenbutton btnNext" ng-click="$ctrl.save(processingUnit)">Update</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>