<div class="wrapper-header fixed">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" show-authed="true">
        <ul class="nav sidebar-nav">
            <li>
                <a href="#/">
                    <span>
                        <img src="images/home.png">
                    </span> Home
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#submenuAdministration" aria-expanded="false">
                    <span>
                        <img src="images/setting.png">
                    </span> Administration
                </a>
                <ul class="nav collapse" style="margin-left: 20px;" id="submenuAdministration" role="menu" aria-labelledby="btn-1">
                    <li>
                        <a href="#/administration-role">
                            <span>
                                <img src="images/user.png">
                            </span> Roles
                        </a>
                    </li>
                    <li>
                        <a href="#/administration-user">
                            <span>
                                <img src="images/user.png">
                            </span> Users
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.alterRules('SYSTEM')">
                            <span>
                                <img src="images/setting.png">
                            </span> Configure Alerts
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#submenuNotifications" aria-expanded="false">
                    <span>
                        <img src="images/notification.png">
                    </span> Notifications
                </a>
                <ul class="nav collapse" style="margin-left: 20px;" id="submenuNotifications" role="menu" aria-labelledby="btn-1">
                    <li>
                        <a href="#/notifications-error">
                            <span>
                                <img src="images/warning.png">
                            </span> Errors
                        </a>
                    </li>
                    <li>
                        <a href="#/notifications-alert">
                            <span>
                                <img src="images/warning.png">
                            </span> Alerts
                        </a>
                    </li>
                    <li>
                        <a href="#/notifications-deadletter">
                            <span>
                                <img src="images/warning.png">
                            </span> DeadLetter
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/organization-list">
                    <span>
                        <img src="images/home.png">
                    </span> Organizations
                    <button class="btn-xs yellowbutton" ng-click="$ctrl.addOrganization()" onclick="return false;">Add</button>
                </a>
            </li>
            <li>
                <a href="#/datatype-list">
                    <span>
                        <img src="images/createdatatype.png">
                    </span> Data Types
                    <button class="btn-xs yellowbutton" ng-click="$ctrl.createDatatype()">Add</button>
                </a>
            </li>
            <li>
                <a href="#/processingunit">
                    <span>
                        <img src="images/createdatapipeline.png">
                    </span> Processing Unit
                    <button class="btn-xs yellowbutton" ng-click="$ctrl.addProcessingUnit()">Add</button>
                </a>
            </li>
            <!--<li has-permission="CREATE_PIPELINE,UPDATE_PIPELINE,TEST_PIPELINE,VIEW_PIPELINE">-->
            <li>
                <a href="#/datapipeline">
                    <span>
                        <img src="images/createdatapipeline.png">
                    </span> Pipelines
                    <button class="btn-xs yellowbutton" onclick="location.href = '#/adddatapipeline/step1'; return false;">Add</button>
                </a>
            </li>
            <li>
                <a href="#/deviceregistration">
                    <span>
                        <img src="images/home.png">
                    </span>Device Registration
                    <button class="btn-xs yellowbutton" ng-click="$ctrl.deviceRegistration()">Add</button>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#submenuReportsMetrics" aria-expanded="false">
                    <span>
                        <img src="images/report.png">
                    </span> Reports/Metrics
                </a>
                <ul class="nav collapse" style="margin-left: 20px;" id="submenuReportsMetrics" role="menu" aria-labelledby="btn-1">
                    <li>
                        <a href="#/dashboard-cost">
                            <span>
                                <img src="images/report.png">
                            </span> Costs
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard-performance">
                            <span>
                                <img src="images/report.png">
                            </span> Performance
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard-utilization">
                            <span>
                                <img src="images/report.png">
                            </span> Utilization
                        </a>
                    </li>
                    <li>
                        <a href="#/dashboard-security">
                            <span>
                                <img src="images/report.png">
                            </span> Security
                        </a>
                    </li>
                </ul>
            </li>
            <!--
            <li>
                <a >
                    <span>
                        <img src="images/report.png">
                    </span> Reports
                </a>
            </li>
            <li>
                <a >
                    <span>
                        <img src="images/user.png">
                    </span> Users
                </a>
            </li>
            <li>
                <a >
                    <span>
                        <img src="images/setting.png">
                    </span> Settings
                </a>
            </li>
            <li class="menubottom">
                <a class="btn padleftright yellowbutton" href="#/addorganization/step1"><img src="images/creatdatatype.png"> CREATE ORGANIZATION </a>
            </li>
            <li class="menubottom">
                <a class="btn padleftright yellowbutton" ng-click="$ctrl.createDatatype()"><img src="images/createdatapipeline.png"> CREATE DATATYPE</a>
            </li>
            <li class="menubottom">
                <a class="btn padleftright yellowbutton" href="#/adddatapipeline/step1"><img src="images/creatdatatype.png"> CREATE DATA PIPELINE </a>
            </li>
            <li class="menubottom">
                <a class="btn padleftright yellowbutton" href="#/deviceregistration"><img src="images/creatdatatype.png"> REGISTRATION REQUEST</a>
            </li>
            -->
        </ul>
    </nav>
    <div class="header">
        <div class="menu-btn" show-authed="true">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top">
                </span>
                <span class="hamb-middle">
                </span>
                <span class="hamb-bottom">
                </span>
            </button>
        </div>
        <div class="col-md-12 header-wrapper">
            <div class="col-md-2 logo">
                <img src="images/logo.png" class="img-responsive">
            </div>
            <!----searchbar----->
            <div class="col-md-7 search-box ">
                <!--<form class="navbar-form search" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control pull-right searchbox" placeholder="Search">
                        <span class="input-group-btn serch">
                            <button type="reset" class="btn btn-search">
                                <span class="srachicon">
                                    <img src="images/search.png">
                                </span>
                            </button>
                        </span>
                    </div>
                </form>-->
            </div>
            <div class="col-md-5 profile pull-right" show-authed="true">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="images/person.png">
                        Hi {{$ctrl.User.current.firstName}} {{$ctrl.User.current.lastName}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a ng-click="$ctrl.alterRules('USER')">
                                Manage Notifications
                            </a>
                        </li>
                        <li><a ng-click="$ctrl.logout()">LOGOUT</a></li>
                    </ul>
                </div>

                <!--<div class="profile">
                    <img src="images/person.png">
                    <span>
                        <a>
                            Hi {{$ctrl.User.current.firstName}} {{$ctrl.User.current.lastName}}
                        </a>
                    </span>
                    <span>
                        <button class="btn btn-sm btn-primary pull-xs-right"
                                type="submit" ng-click="$ctrl.logout()">
                            LOGOUT
                        </button>
                    </span>
                </div>-->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //var trigger = $('.hamburger'),
        //overlay = $('.overlay'),
        var isClosed = false;
        function buttonSwitch() {
            if (isClosed === true) {
                $('.overlay').hide();
                $(".hamburger").removeClass('is-open');
                $(".hamburger").addClass('is-closed');
                isClosed = false;
            }
        }

        $(".hamburger").on("click", function () {
            buttonSwitch();
        });

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>