﻿<span data-ng-if="$ctrl.value > 0">
    <span class="pull-left graphnumbergreentext">+{{$ctrl.value | number:0}}% </span>
    <!--<span class="pull-left"><a ><img src="images/uparrow.png" /></a></span>-->
</span>
<span data-ng-if="$ctrl.value < 0">
    <span class="pull-left graphnumberredtext">{{$ctrl.value | number:0}}% </span>
    <!--<span class="pull-left"><a ><img src="images/downarrow.png" /></a></span>-->
</span>
<span data-ng-if="$ctrl.value == 0">
    <span class="pull-left graphnumbergreentext">{{$ctrl.value | number:0}}% </span>
    <!--<span class="pull-left"><a >-</a></span>-->
</span>