<div id="step1" class="tab-pane active top30">
    <div class="org_form">
        <form name="step1" novalidate class="orgFORM">
            <h3>1. Add organization</h3>
            <div class="col-md-12 slectBX">
                <div class="col-md-9 slectBX" ng-class="{ 'has-error': step1.companyName.$invalid }">
                    <label>
                        Company Name
                    </label>
                    <input type="text" class="formTXT" name="companyName"
                           ng-model="$ctrl.User.addOrganization.organization.companyName"
                           required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.companyName.$error">
                        <p ng-message="required">Company Name is required.</p>
                    </div>
                </div>
                <div class="col-md-3 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': step1.code.$invalid }">
                    <label>
                        Code
                    </label>
                    <input type="text" class="formTXT" name="code"
                           ng-model="$ctrl.User.addOrganization.organization.code"
                           ng-pattern="/^([0-9a-zA-Z]+)$/"
                           required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.code.$error">
                        <p ng-message="pattern">Not a valid code.</p>
                        <p ng-message="required">Code is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.description.$invalid }">
                <label>Description</label>
                <input type="text" name="description" class="formTXT" ng-model="$ctrl.User.addOrganization.organization.description">
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.address.$invalid }">
                <label>Address</label>
                <input type="text" name="address" class="formTXT" ng-model="$ctrl.User.addOrganization.organization.address" required>
                <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.address.$error">
                    <!--ng-if="step1.address.$touched"-->
                    <p ng-message="required">Address is required.</p>
                </div>
            </div>
            <div class="col-md-12 slectBX">
                <div class="col-md-6 slectBX" ng-class="{ 'has-error': step1.city.$invalid }">
                    <label>City</label>
                    <input type="text" name="city" class="formTXT" ng-model="$ctrl.User.addOrganization.organization.city" required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.city.$error">
                        <!--ng-if="step1.city.$touched"-->
                        <p ng-message="required">City is required.</p>
                    </div>
                </div>
                <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': step1.postalCode.$invalid }">
                    <label>Postal Code</label>
                    <input type="text" name="postalCode" class="formTXT"
                           ng-model="$ctrl.User.addOrganization.organization.postalCode"
                           required
                           ng-pattern="/^[0-9]{5,7}$/">
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.postalCode.$error">
                        <p ng-message="pattern">Not a valid postal code.</p>
                        <p ng-message="required">Postal Code is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX">
                <div class="col-md-6 slectBX" ng-class="{ 'has-error': step1.state.$invalid }">
                    <label>State / Province</label>
                    <input type="text" name="state" class="formTXT" ng-model="$ctrl.User.addOrganization.organization.state" required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.state.$error">
                        <!--ng-if="step1.state.$touched"-->
                        <p ng-message="required">state is required.</p>
                    </div>
                </div>
                <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': step1.country.$invalid }">
                    <label>Country</label>
                    <input type="text" name="country" class="formTXT" ng-model="$ctrl.User.addOrganization.organization.country" required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.country.$error">
                        <!--ng-if="step1.country.$touched"-->
                        <p ng-message="required">Country is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.phoneNumber.$invalid }">
                <label>Phone Number</label>
                <input type="text" name="phoneNumber" class="formTXT"
                       phone-input
                       ng-model="$ctrl.User.addOrganization.organization.phoneNumber"
                       phone
                       required>
                <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.phoneNumber.$error">
                    <p ng-message="phone">Valid phone number is required.</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <h3>2. Add Primary Contact</h3>
            <div class="col-md-12 slectBX">
                <div class="col-md-6 slectBX" ng-class="{ 'has-error': step1.firstName.$invalid }">
                    <label>First Name</label>
                    <input type="text" name="firstName" class="formTXT" ng-model="$ctrl.User.addOrganization.primaryContact.firstName" required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.firstName.$error">
                        <p ng-message="required">First Name is required.</p>
                    </div>
                </div>
                <div class="col-md-6 slectBX" style="padding-left:5px !important;" ng-class="{ 'has-error': step1.lastName.$invalid }">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="formTXT" ng-model="$ctrl.User.addOrganization.primaryContact.lastName" required>
                    <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.lastName.$error">
                        <p ng-message="required">Last Name is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.email.$invalid }">
                <label>Email</label>
                <input type="text" name="email" class="formTXT"
                       ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                       ng-model="$ctrl.User.addOrganization.primaryContact.email" required>
                <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.email.$error">
                    <p ng-message="required">Email is required.</p>
                    <p ng-message="pattern">Email is not valid.</p>
                </div>
            </div>
            <div class="col-md-12 slectBX" ng-class="{ 'has-error': step1.phoneNumber2.$invalid }">
                <label>Phone Number</label>
                <input type="text" name="phoneNumber2" class="formTXT"
                       phone-input
                       phone
                       ng-model="$ctrl.User.addOrganization.primaryContact.phoneNumber"
                       required>
                <div class="help-block" ng-if="$ctrl.User.addOrganization.step1Validate" ng-messages="step1.phoneNumber2.$error">
                    <p ng-message="phone">Valid phone number is required.</p>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="top30" align="center">
                <input type="submit" value="NEXT" ng-click="$ctrl.next(step1)" class="btn padleftright greenbtn" />
            </div>
        </form>
    </div>
</div>
