<div class="col-md-12 " id="steptabtab">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref=".step1">Step 1: Organization Information</a></li>
        <li ui-sref-active="active"><a ui-sref=".step2">Step 2: Security & Compliance</a></li>
        <li ui-sref-active="active"><a ui-sref=".step3">Step 3: Review & Save</a></li>
    </ul>
    <div class="tab-content  padbtn20 brdtop">
        <div ui-view></div>
    </div>
    <div class="top30 underlinelink" align="center">
        <a href="#/organization-list">Cancel</a>
    </div>
</div>