<div class="row">
    <div class="col-md-3"> <input class="form-control" ng-model="search.name" placeholder="Name" /></div>
    <div class="col-md-3"> <input class="form-control" ng-model="search.description" placeholder="Description" /></div>
    <!--<div class="col-md-2"> <input class="form-control" ng-model="search.version" placeholder="Version" /></div>-->
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-md12">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
    </div>
</div>
<table class="table table-bordered" id="progresstable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Version</th>
            <th>Category</th>
            <th>Type</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.dataTypes | filter:search:strict">
            <td width="20%">{{::item.name}}</td>
            <td width="30%">{{::item.description}}</td>
            <td width="5%">{{::item.version}}</td>
            <td width="10%">{{::item.sourceCategoryName}}</td>
            <td width="5%">{{::item.sourceFormatType}}</td>
            <td width="20%">{{::item.tagNames}}</td>
            <td width="10%">
                <button type="button" class="btn btn-default" ng-click="$ctrl.edit(item)">Edit</span></button>
                <!--<button type="button" class="btn btn-danger" ng-click="$ctrl.delete(item)">Delete</span></button>-->
            </td>
        </tr>
    </tbody>
</table>
