<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="col-md-3 device-bar">
        <div class="device1">
            <span>Devices</span>
            <p>{{::$ctrl.summary.devicesCount | number}}</p>
        </div>
        <div class="device1">
            <span>Datatypes</span>
            <p>{{::$ctrl.summary.dataTypesCount | number}}</p>
        </div>
    </div>
    <div class="col-md-6 device-bar">
        <div class="device1">
            <span>Data throughput</span>
            <p>{{::$ctrl.summary.dataThroughput | number: 2}} GB</p>
            <div class="smallgraphwarp">
                <span class="pull-left"><img src="images/tabgraph1.jpg" alt="" /></span>
                <percentage value="$ctrl.summary.dataThroughputChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="device1">
            <span>data ingestions</span>
            <p>{{::$ctrl.summary.dataIngestions | number}}</p>
            <div class="smallgraphwarp">
                <span class="pull-left"><img src="images/tabgraph1.jpg" alt="" /></span>
                <percentage value="$ctrl.summary.dataIngestionsChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 total-ingestioon">
        <p>Failure to success ingestion total</p>
        <div>
            <div class="col-lg-7"><img src="images/tabgraph3.jpg" alt="" /></div>
            <div class="col-lg-5">
                <div class="top10">
                    <percentage value="$ctrl.summary.failureChangeRate"></percentage>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <percentage value="$ctrl.summary.successChangeRate"></percentage>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="summarysubtab" class="top15">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active" class="active">
            <!--<a href="#devices"></a>-->
            <a ui-sref="app.organization.main.devices({ 'organizationId': $ctrl.organizationId, 'deviceCategoryId' : 1})">
                {{$ctrl.category1Devices.length | number}} Locomotives
            </a>
        </li>

        <li ui-sref-active="active">
            <!--<a data-toggle="tab" href="#Applications">0 Applications</a>-->
            <a ui-sref="app.organization.main.devices({ 'organizationId': $ctrl.organizationId, 'deviceCategoryId' : 2})">
                {{$ctrl.category2Devices.length | number}} Waysides
            </a>
        </li>

        <li ui-sref-active="active">
            <!--<a data-toggle="tab" href="#Applications">0 Applications</a>-->
            <a ui-sref="app.organization.main.devices({ 'organizationId': $ctrl.organizationId, 'deviceCategoryId' : 3})">
                {{$ctrl.category3Devices.length | number}} Applications
            </a>
        </li>
        <!--<li ui-sref-active="active">
            <a href="#">
                {{::$ctrl.summary.dataTypesCount | number}} Datatypes
            </a>
        </li>-->
    </ul>
    <div>
        <div ui-view></div>
    </div>
</div>