<div class="col-md-12">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
        <strong>Error!</strong> {{$ctrl.error}}
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <div>
            <h2 class="pagetitleh2">{{::$ctrl.summary.organizationName}}</h2>
        </div>
        <div>
            <div class="pull-left"><img src="images/location.jpg" alt="" /> {{::$ctrl.summary.addresses[0].city}}, {{::$ctrl.summary.addresses[0].state}}</div>
            <div class="pull-left marginleft20"><img src="images/devicesicon.jpg" alt="" /> {{::$ctrl.summary.devicesCount}} Devices</div>
            <div class="pull-left marginleft20"><img src="images/devicesicon.jpg" alt="" /> <a ui-sref="app.deviceregistration({organizationId : $ctrl.organizationId})">{{::$ctrl.summary.approvedDeviceRegistratioRequestsCount | number}}  Registered Clients</a></div>
        </div>
    </div>
    <div class="pull-right">
        <div class="btn btn-circle pull-left"><a ng-click="$ctrl.editOrganization()"><img src="images/pencil.jpg" width="16" height="14" alt="" /></a></div>
        <div class="pull-left roundeddiv marginleft10">
            <!--<div class="greendot"></div>-->
            <div class="pull-left" ng-show="$ctrl.summary.active">
                Active
            </div>
            <div class="pull-left" ng-show="!$ctrl.summary.active">
                Disabled
            </div>
            <span class="marginleft10"></span>
            <div class="material-switch pull-right">
                <input id="orgStatus" type="checkbox" ng-model="$ctrl.summary.active" ng-change="$ctrl.toggleStatus()" ng-checked="$ctrl.summary.active"/>
                <label for="orgStatus" class="label-success"></label>
            </div>
        </div>
        <div class="pull-left roundeddiv marginleft10" ng-click="$ctrl.addDevice()" ng-show="$ctrl.summary.active">
            <div class="pull-left">Add Device</div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 top30" id="maintab">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
        <li><a data-toggle="tab" href="#dataPipeline">Data Pipeline</a></li>
        <li><a data-toggle="tab" href="#PolicySecurity">Policy & Security</a></li>
        <li><a data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#connections">Connections</a></li>
        <li><a data-toggle="tab" href="#costs">Costs</a></li>
    </ul>
    <div class="tab-content row tabbg">
        <div id="summary" class="tab-pane active">
            <div ui-view></div>
        </div>
        <div id="dataPipeline" class="tab-pane fade">
            Data Pipeline
        </div>
        <div id="PolicySecurity" class="tab-pane fade">
            Policy & Security
        </div>
        <div id="activity" class="tab-pane fade">
            Activity
        </div>
        <div id="connections" class="tab-pane fade">
            Connections
        </div>
        <div id="costs" class="tab-pane fade">
            Costs
        </div>
    </div>
</div>