<div class="row">
    <div class="col-md-3"> <input class="form-control" ng-model="search.code" placeholder="Code" /></div>
    <div class="col-md-3"> <input class="form-control" ng-model="search.name" placeholder="Name" /></div>
    <div class="col-md-2">
        <select class="form-control btn btn-default" ng-model="search.status">
            <option value="">All</option>
            <option value="true">Enable</option>
            <option value="false">Disable</option>
        </select>
    </div>
    <!--<div class="col-md-3"><a class="btn btn-primary pull-right" ng-click="$ctrl.search()">SEARCH</a></div>-->
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-md12">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
            <strong>Error!</strong> {{$ctrl.error}}
        </div>
    </div>
</div>
<table class="table table-bordered" id="progresstable">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <!--<th>Description</th>-->
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.organizations | filter:search:strict">
            <td><a ui-sref="app.organization.main.devices({ organizationId: item.id, deviceCategoryId : 1})">{{::item.code}}</a></td>
            <td>{{::item.name}}</td>
            <!--<td>{{::item.description}}</td>-->
            <td>{{(item.status) ? 'Enable' : 'Disable'}}</td>
            <td>
                <a class="btn btn-default" ng-click="$ctrl.edit(item)">Edit</a>
                <a class="btn btn-success" ng-if="!item.status" ng-click="$ctrl.enable(item)">Enable</a>
                <a class="btn btn-danger" ng-if="item.status" ng-click="$ctrl.disable(item)">Disable</a>
            </td>
        </tr>
    </tbody>
</table>
