<div class="tab-content row">
    <div id="devices" class="tab-pane fade in active">
        <div class="top15">
            <div class="col-md-4 ">
                <select class="form-control ">
                    <option>THROUGHPUT: All Devices</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div>
            <div class="col-md-8">
                <div class="top10">
                    <div class="calwarp">
                        <ul id="calwarp">
                            <li> <img src="images/cal.jpg" width="19" height="21" alt="" /></li>
                            <li> <a ng-click="$ctrl.showData(1)" ng-class="{'active': $ctrl.dateRange.days === 1}">1D</a></li>
                            <li> <a ng-click="$ctrl.showData(7)" ng-class="{'active': $ctrl.dateRange.days === 7}">7D</a></li>
                            <li> <a ng-click="$ctrl.showData(30)" ng-class="{'active': $ctrl.dateRange.days === 30}">30D</a></li>
                            <li> <a ng-click="$ctrl.showData(180)" ng-class="{'active': $ctrl.dateRange.days === 180}">6M</a></li>
                            <li> <a ng-click="$ctrl.showData(365)" ng-class="{'active': $ctrl.dateRange.days === 365}">1Y</a></li>
                            <li> <a ng-click="$ctrl.showData(-1)" ng-class="{'active': $ctrl.dateRange.days === -1}">YTD</a></li>
                            <li> <a ng-click="$ctrl.showData(-2)" ng-class="{'active': $ctrl.dateRange.days === -2}">Custom:</a></li>
                            <li> From: <span class="bluetext"><input id="fromDate" date-time-picker ng-disabled="$ctrl.dateRange.days !== -2" style="width: 125px" date-time="$ctrl.dateRange.fromDate" /></span></li>
                            <li> To: <span class="bluetext"><input id="toDate" date-time-picker ng-disabled="$ctrl.dateRange.days !== -2" style="width: 125px" date-time="$ctrl.dateRange.toDate" /></span></li>
                            <li><button class="btn btn-primary btn-sm" ng-disabled="$ctrl.dateRange.days !== -2" ng-click="$ctrl.go($ctrl.customFromDate, $ctrl.customToDate)">Go</button></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="top30 imgwidth100percent">
                    <div data-ng-if="!$ctrl.data || $ctrl.data.length === 0">
                        <div class="text-center">NO DATA</div>
                        <div class="text-center top15">
                            <a class="btn padleftright greenbutton" ng-click="$ctrl.addDevice()">ADD DEVICE</a>
                        </div>
                    </div>
                    <nvd3 data-ng-if="$ctrl.data && $ctrl.data.length > 0" options="::$ctrl.options" data="::$ctrl.data"></nvd3>
                </div>
            </div>
            <div class="col-md-4">
                <div id="alertsubtab" class="top30">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Alert">Alert</a></li>
                        <li><a data-toggle="tab" href="#Errors">Errors</a></li>
                    </ul>
                    <div class="tab-content top15">
                        <div id="Alert" class="tab-pane fade in active">
                            <div class="alertscroll">
                                <div class="top5">
                                    <div class="pull-left">
                                        <div class="alphabet">A</div>
                                    </div>
                                    <div class="alertright">
                                        <div>Alert: Ingestion Spike - Device: 0024, Datatype: Speed</div>
                                        <div class="smallgraytext">15 Mints Ago</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="top5">
                                    <div class="pull-left">
                                        <div class="alphabet">B</div>
                                    </div>
                                    <div class="alertright">
                                        <div>Alert: Ingestion Spike - Device: 0024, Datatype: Speed</div>
                                        <div class="smallgraytext">15 Mints Ago</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div id="Errors" class="tab-pane fade"> Errors </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top17">
            <div class="col-lg-5">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                        </span>
                </div>
            </div>
            <div class="col-lg-3">
                <select class="form-control ">
                    <option>Show Only: Alerts</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-lg-4 " align="right">
                <button type="button" class="btn btn-primary "><i class="glyphicon glyphicon-list"></i></button>
                <a ><img src="images/flag.jpg" width="22" height="21" alt="" class="marginleft20" /></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top30">
            <div ng-repeat="device in $ctrl.devices" ng-switch="$index % 2">
                <div class="col-lg-6" ng-switch-when="0">
                    <div class="box">
                        <div class="col-lg-9">
                            <div class="pull-left">
                                <div class="top5"><strong><a ui-sref="app.device.main({ organizationId: $ctrl.organizationId, deviceId: device.id, sourceCategoryId: device.sourceCategoryId})">{{::device.name}}</a>:</strong></div>
                                <div>15 Datatypes</div>
                                <div class="smallgraytext">Last Ingest 5 min ago</div>
                            </div>
                            <div class="pull-right"><img src="images/boxmap.jpg" alt="" /></div>
                        </div>
                        <div class="pull-right alertbg">
                            <div class="pull-left">
                                <div class="reddot"></div>
                            </div>
                            <div class="pull-left">Alerts: 3</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-6" ng-switch-when="1">
                    <div class="box">
                        <div class="col-lg-9">
                            <div class="pull-left">
                                <div class="top5"><strong><a ui-sref="app.device.main({ organizationId: $ctrl.organizationId, deviceId: device.id, sourceCategoryId: device.sourceCategoryId})">{{::device.name}}</a>:</strong></div>
                                <div>15 Datatypes</div>
                                <div class="smallgraytext">Last Ingest 5 min ago</div>
                            </div>
                            <div class="pull-right"><img src="images/boxmap.jpg" alt="" /></div>
                        </div>
                        <div class="pull-right alertbg">
                            <div class="pull-left">
                                <div class="reddot"></div>
                            </div>
                            <div class="pull-left">Alerts: 3</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--<div class="top5" align="center">
            <button type="button" class="btn btn-primary padleftright ">Load Next 20 of 42</button>
        </div>-->
    </div>
    <div id="Applications" class="tab-pane fade"> Applications </div>
    <div id="Datatypes" class="tab-pane fade"> Datatypes </div>
</div>