<div class="whitebackground">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 style="width: 50%;float: left;margin-top: 0px;">Cost Summary by Organization</h3>
                <span> From: <span class="bluetext"><input id="fromDate" date-time-picker style="width: 125px" date-time="$ctrl.dateRange.fromDate" /></span></span>
                <span> To: <span class="bluetext"><input id="toDate" date-time-picker style="width: 125px" date-time="$ctrl.dateRange.toDate" /></span></span>
                <button class="btn btn-sm btn-info" ng-click="$ctrl.getCost()">Get Cost</button>
            </div>
            <div class="panel-body">
                <nvd3 options="$ctrl.options" data="$ctrl.costSummary" api="$ctrl.api"></nvd3>
            </div>
            <div class="panel-heading" ng-if="$ctrl.organizations.length > 0">
                Get Details of 
                <select class="btn btn-sm btn-default" ng-change="$ctrl.getHistroy()" ng-model="$ctrl.organization"
                        ng-options="y.name for (x, y) in $ctrl.organizations"></select>
                <span>
                    <select class="btn btn-sm btn-default" ng-model="$ctrl.interval" ng-change="$ctrl.getCost()">
                        <option value="HOUR">HOUR</option>
                        <option value="DAY">DAY</option>
                        <option value="MONTH">MONTH</option>
                        <option value="YEAR">YEAR</option>
                    </select>
                </span>
            </div>
            <div class="panel-body" ng-if="$ctrl.organizations.length > 0">
                <nvd3 options="$ctrl.options2" data="$ctrl.history" api="$ctrl.api2"></nvd3>
            </div>
        </div>
    </div>
</div>