<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="col-md-3 device-bar">
        <div class="device1">
            <span>Datatypes</span>
            <p>{{::$ctrl.summary.sourceFormatCount | number}}</p>
        </div>
    </div>
    <div class="col-md-6 device-bar">
        <div class="device1">
            <span>Data throughput</span>
            <p>{{::$ctrl.summary.throughput | number: 2}} GB</p>
            <div class="smallgraphwarp">
                <span class="pull-left"><img src="images/tabgraph1.jpg" alt="" /></span>
                <percentage value="$ctrl.summary.dataThroughputChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="device1">
            <span>data ingestions</span>
            <p>{{::$ctrl.summary.ingestionsCount | number}}</p>
            <div class="smallgraphwarp">
                <span class="pull-left"><img src="images/tabgraph1.jpg" alt="" /></span>
                <percentage value="$ctrl.summary.dataIngestionsChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 total-ingestioon">
        <p>Failure to success ingestion total</p>
        <div>
            <div class="col-lg-7"><img src="images/tabgraph3.jpg" alt="" /></div>
            <div class="col-lg-5">
                <div class="top10">
                    <percentage value="$ctrl.summary.failureChangeRate"></percentage>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <percentage value="$ctrl.summary.successChangeRate"></percentage>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
        <strong>Error!</strong> {{$ctrl.error}}
    </div>
</div>
<div id="summarysubtab" class="col-md-12 top15">
    <div class="tab-content row">
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Datatypes</th>
                    <th>Version</th>
                    <th>Frequency</th>
                    <th>Time Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dataType in $ctrl.dataTypes">
                    <td>
                        {{::dataType.sourceFormatName}}
                    </td>
                    <td>
                        {{::dataType.sourceFormatVersion}}
                    </td>
                    <td>
                        {{::dataType.frequency}}
                    </td>
                    <td>
                        {{::dataType.unitTimeFrequency.timeUnit}}
                    </td>
                    <td>
                        <a class="btn btn-default" ng-click="$ctrl.Edit(dataType)">Edit</a>
                        <a class="btn btn-danger" ng-click="$ctrl.Remove(dataType)">Remove</a>
                        <a class="btn btn-success" ng-click="$ctrl.toggleStatus(dataType)" ng-if="!dataType.status">Enable</a>
                        <a class="btn btn-danger" ng-click="$ctrl.toggleStatus(dataType)" ng-if="dataType.status">Disable</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
