<script type="text/ng-template" id="dataTypeOrTag.html">
    <a>
        <span class="glyphicon glyphicon-tag" aria-hidden="true" ng-if="match.model.tagOrSourceFormat == 'TAG'"></span>
        <span class="glyphicon glyphicon-file" aria-hidden="true" ng-if="match.model.tagOrSourceFormat == 'SOURCE_FORMAT'"></span>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="col-md-12">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$deviceCtrl.error">
        <strong>Error!</strong> {{$deviceCtrl.error}}
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <div>
            <h2 class="pagetitleh2">{{::$deviceCtrl.summary.name}}</h2>
        </div>
        <div>
            <!--<div class="pull-left"><img src="images/location.jpg" alt="" /> {{::$deviceCtrl.summary.addresses[0].city}}, {{::$deviceCtrl.summary.addresses[0].state}}</div>-->
            <div class="pull-left marginleft20"><img src="images/devicesicon.jpg" alt="" /> {{::$deviceCtrl.summary.sourceFormatCount}} Datatypes</div>
            <div class="pull-left marginleft20"><img src="images/devicesicon.jpg" alt="" /> <a ui-sref="app.deviceregistration({organizationId : $deviceCtrl.organizationId, deviceId: $deviceCtrl.deviceId})">{{::$deviceCtrl.summary.approvedDeviceRegistrationsCount | number}}  Registered Clients</a></div>
        </div>
    </div>
    <div class="pull-right">
        <div class="btn btn-circle pull-left"><a><img src="images/pencil.jpg" width="16" height="14" alt="" /></a></div>
        <div class="pull-left roundeddiv marginleft10">
            <!--<div class="greendot"></div>-->
            <div class="pull-left" ng-show="$deviceCtrl.summary.status">
                Active
            </div>
            <div class="pull-left" ng-show="!$deviceCtrl.summary.status">
                Disabled
            </div>
            <span class="marginleft10"></span>
            <div class="material-switch pull-right">
                <input id="deviceStatus" type="checkbox" ng-model="$deviceCtrl.summary.status" ng-change="$deviceCtrl.toggleStatus()" ng-checked="$deviceCtrl.summary.status"/>
                <label for="deviceStatus" class="label-success"></label>
            </div>
        </div>
        <div class="pull-left roundeddiv marginleft10" ng-show="$deviceCtrl.summary.status">
            <a class="pull-left" ng-click="$deviceCtrl.selectDataType()">Add Datatype</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 top30" id="maintab">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
        <li><a data-toggle="tab" href="#dataPipeline">Data Pipeline</a></li>
        <li><a data-toggle="tab" href="#PolicySecurity">Policy & Security</a></li>
        <li><a data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#connections">Connections</a></li>
        <li><a data-toggle="tab" href="#costs">Costs</a></li>
    </ul>
    <div class="tab-content row tabbg">
        <div id="summary" class="tab-pane active">
            <div ui-view></div>
        </div>
        <div id="dataPipeline" class="tab-pane fade">
            Data Pipeline
        </div>
        <div id="PolicySecurity" class="tab-pane fade">
            Policy & Security
        </div>
        <div id="activity" class="tab-pane fade">
            Activity
        </div>
        <div id="connections" class="tab-pane fade">
            Connections
        </div>
        <div id="costs" class="tab-pane fade">
            Costs
        </div>
    </div>
</div>
<div id="addcontainer" ng-if="$deviceCtrl.showDataType">
    <div class="pophearder">
        Add Datatype
        <div class="popupclose" id="addcloseclose" ng-click="$deviceCtrl.close()">X</div>
    </div>
    <div class="pad15 pageScroll">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$deviceCtrl.error">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <strong>Error!</strong> {{$deviceCtrl.error}}
        </div>
        <div class="form-group">
            <input type="search" name="searchTag" class="form-control"
                   ng-model="$deviceCtrl.selectedTag" typeahead-on-select="$deviceCtrl.selectEntry($item, $model, $label)"
                   uib-typeahead="entry as entry.name for entry in $deviceCtrl.lookUpDataTypesAndTags($viewValue) | limitTo:10"
                   typeahead-wait-ms="500"
                   placeholder="Search by Datatypes or Tags" typeahead-template-url="dataTypeOrTag.html"
                   typeahead-show-hint="true" typeahead-min-length="2" autocomplete="off">
        </div>
        <div class="form-group">
            <div class="formTXT srcBTNS" style="min-height: 0px">
                <button class="btn btn-selectbutton" ng-repeat="sourceFormatOrTag in $deviceCtrl.model.selectedSourceFormatOrTags track by $index">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true" ng-if="sourceFormatOrTag.tagOrSourceFormat == 'TAG'"></span>
                    <span class="glyphicon glyphicon-file" aria-hidden="true" ng-if="sourceFormatOrTag.tagOrSourceFormat == 'SOURCE_FORMAT'"></span>
                    {{ ' ' + sourceFormatOrTag.name + ' '}}
                    <img src="images/close-button.png" ng-click="$deviceCtrl.removeEntry(sourceFormatOrTag)">
                </button>
            </div>
        </div>
        <div class="form-group text-right">
            <span><b>{{$deviceCtrl.model.dataTypes.length}} records found</b></span>
            <a class="btn btn-warning" ng-click="$deviceCtrl.clear()">Clear</a>
            <a class="btn btn-info" ng-click="$deviceCtrl.createDatatype()">Create New Datatype </a>
        </div>
        <div ng-if="$deviceCtrl.model.dataTypes.length > 0">
            <hr>
            <div class="form-group" id="checkboxwarp">
                <div class="col-md-6 checkbox" ng-repeat="dataType in $deviceCtrl.model.dataTypes track by $index">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox"
                                   value="{{dataType.id}}"
                                   ng-checked="$deviceCtrl.model.selectedDataTypes.indexOf(dataType.id) > -1 || $deviceCtrl.model.accosiatedDevice.indexOf(dataType.id) > -1"
                                   ng-disabled="$deviceCtrl.model.accosiatedDevice.indexOf(dataType.id) > -1"
                                   ng-click="$deviceCtrl.toggleSelection(dataType.id)" id="{{'chk' + $index}}">
                            <label for="{{'chk' + $index}}">
                                {{dataType.name + ' (' + dataType.version + ')'}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr>
            <div class="container container-fluid" ng-if="$deviceCtrl.model.selectedDataTypes.length > 0 ">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" ng-model="$deviceCtrl.model.timeInterval" placeholder="Time Interval" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="$deviceCtrl.model.timeUnit" class="form-control">
                            <option ng-repeat="unit in $deviceCtrl.timeUnits" value="{{unit}}">{{unit}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                    <span class="form-group top30 text-center">
                        <a class="btn btn-success" ng-click="$deviceCtrl.addDataType()">ADD</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="updateContainer" ng-if="$deviceCtrl.showDataTypeUpdate">
    <div class="pophearder">
        Update Datatype
        <div class="popupclose" ng-click="$deviceCtrl.closeUpdate()">X</div>
    </div>
    <div class="pad15 pageScroll">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$deviceCtrl.errorUpdate">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <strong>Error!</strong> {{$deviceCtrl.errorUpdate}}
        </div>
        <div class="form-group">
            <div class="formTXT srcBTNS" style="min-height: 0px">
                <button class="btn btn-selectbutton">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {{ ' ' + $deviceCtrl.deviceToBeUpdated.sourceFormatName}}
                </button>
            </div>
            <br/>
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" ng-model="$deviceCtrl.deviceToBeUpdated.timeInterval" placeholder="Time Interval" class="form-control"/>
                    </div>
                    <div class="col-md-2">
                        <select ng-model="$deviceCtrl.deviceToBeUpdated.timeUnit" class="form-control">
                            <option ng-repeat="unit in $deviceCtrl.timeUnits" value="{{unit}}">{{unit}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                    <span class="form-group top30 text-center">
                        <a class="btn btn-success" ng-click="$deviceCtrl.updateDataType()">UPDATE</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
