<div id="step1" class="tab-pane active top30">
    <div class="org_form">
        <form name="approval" novalidate>
            <div class="row">
                <h3 class="col-xs-12">Approve Device</h3>
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="$ctrl.error">
                <strong>Error!</strong> {{$ctrl.error}}
            </div>
            <div class="form-group row">
                <label for="Registraion" class="col-xs-4 col-form-label">Registraion ID</label>
                <div class="col-xs-8">
                    {{::$ctrl.model.mainInformation.registrationId}}
                </div>
            </div>
            <div class="form-group row">
                <label for="Device" class="col-xs-4 col-form-label">Device ID</label>
                <div class="col-xs-8">
                    {{::$ctrl.model.mainInformation.deviceUniqueId}}
                </div>
            </div>
            <div class="form-group row">
                <label for="Client" class="col-xs-4 col-form-label">Client ID</label>
                <div class="col-xs-8">
                    {{::$ctrl.model.mainInformation.clientId}}
                </div>
            </div>
            <div class="form-group row">
                <label for="Search-Source" class="col-xs-4 col-form-label">Search Source</label>
                <div class="col-xs-6">
                    <input type="text" id="Search-Source" autocomplete="off" style="width:100%" ng-model="$ctrl.sourceName" uib-typeahead="sourceName as sourceName.name for sourceName in $ctrl.sourceTypeAhead($viewValue)" typeahead-min-length="2" typeahead-on-select="$ctrl.applySource($item, $model, $label)">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-info btn-sm" ng-click="$ctrl.sourceByName()">Search</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="Source-Found" class="col-xs-4 col-form-label">Source Found</label>
                <div class="col-xs-8">
                    {{$ctrl.model.sourceName}}
                </div>
            </div>
            <div class="form-group row" ng-if="$ctrl.model.sourceName">
                <label for="Associate-Source" class="col-xs-4 col-form-label">Associate Source</label>
                <div class="col-xs-8">
                    <input type="checkbox" ng-model="$ctrl.isAssociated" ng-change="$ctrl.associate()" />
                </div>
            </div>
            <div ng-if="$ctrl.isAssociated">
                <div class="form-group row">
                    <label for="Source-Found" class="col-xs-4 col-form-label">Certificate Rotation Interval</label>
                    <div class="col-xs-8">
                        <input type="text" ng-model="$ctrl.model.certificateRotationInterval" />
                        <select ng-model="$ctrl.model.certificateRotationIntervalUnit">
                            <option ng-repeat="unit in $ctrl.timeUnits" value="{{unit}}">{{unit}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Source-Found" class="col-xs-4 col-form-label">Token Rotation Interval</label>
                    <div class="col-xs-8">
                        <input type="text" ng-model="$ctrl.model.tokenRotateInterval" />
                        <select ng-model="$ctrl.model.tokenRotateIntervalUnit">
                            <option ng-repeat="unit in $ctrl.timeUnits" value="{{unit}}">{{unit}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="top30" align="center">
                <a href="#/deviceregistration" class="btn padleftright btn-default">BACK</a>
                <input type="submit" value="SAVE" class="btn padleftright btn-info" ng-click="$ctrl.save()" />
                <input type="submit" value="APPROVE" class="btn padleftright btn-success" ng-if="$ctrl.model.mainInformation.deviceRegistrationStatus === 'PENDING'"
                       ng-click="$ctrl.approve()" />
                <input type="submit" value="REJECT" class="btn padleftright btn-danger" ng-if="$ctrl.model.mainInformation.deviceRegistrationStatus === 'PENDING'"
                       ng-click="$ctrl.changeStatus('REJECTED')" />
                <input type="submit" value="EXPIRED" class="btn btn-default btn-info" ng-if="$ctrl.model.mainInformation.deviceRegistrationStatus === 'APPROVED'"
                       ng-click="$ctrl.changeStatus('EXPIRED')" />
            </div>
        </form>
    </div>
</div>
