<div class="whitebackground">
    <form class="form-inline">
        <div class="col-md-2" style="padding-bottom: 10px;">
            <input type="search" class="form-control" ng-model="$ctrl.selectedOrganization"
                   typeahead-on-select="$ctrl.selectOrganization($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedOrganization"
                   uib-typeahead="organization.name for organization in $ctrl.organizations | filter:$viewValue | limitTo:10"
                   placeholder="Search Organization">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedOrganization">
                {{::$ctrl.searchFilter.selectedOrganization.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeOrganization()">
            </button>
        </div>
        <div class="col-md-2">
            <input type="search" class="form-control" ng-model="$ctrl.selectedDevice"
                   typeahead-on-select="$ctrl.selectDevice($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedDevice"
                   ng-disabled="!$ctrl.searchFilter.selectedOrganization"
                   uib-typeahead="device.name for device in $ctrl.devices | filter:$viewValue | limitTo:10"
                   placeholder="Search Device">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedDevice">
                {{::$ctrl.searchFilter.selectedDevice.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeDevice()">
            </button>
        </div>
        <div class="col-md-5" style="padding-top: 5px;">
            <strong>Status</strong>
            <span class="checkbox" ng-repeat="status in $ctrl.status">
                <label style="padding-left:10px">
                    <input type="checkbox"
                           value="{{status}}"
                           ng-checked="$ctrl.selection.indexOf(status) > -1"
                           ng-click="$ctrl.toggleSelection(status)"> {{status}}
                </label>
            </span>
        </div>
        <div class="col-md-3"><a class="btn btn-primary" ng-click="$ctrl.search()">SEARCH</a></div>
    </form>
    <div>
        &nbsp;
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Source</th>
                    <th>Device ID</th>
                    <th>Client ID</th>
                    <th>Token Interval</th>
                    <th>Certificate Interval</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{::item.organizationName}}</td>
                    <td>{{::item.sourceName}}</td>
                    <td>{{::item.mainInformation.deviceUniqueId}}</td>
                    <td>{{::item.mainInformation.clientId}}</td>
                    <td>{{::item.tokenRotateInterval}} {{::item.tokenRotateIntervalUnit}}</td>
                    <td>{{::item.certificateRotationInterval}} {{::item.certificateRotationIntervalUnit}}</td>
                    <td>{{item.mainInformation.deviceRegistrationStatus}}</td>
                    <td>
                        <a class="btn btn-default" ng-click="$ctrl.edit(item.mainInformation.deviceRegistrationRequestId)">Edit</a>
                        <span ng-if="item.mainInformation.deviceRegistrationStatus === 'PENDING'">
                            <a class="btn btn-default btn-success" ng-click="$ctrl.edit(item.mainInformation.deviceRegistrationRequestId)">APPROVE</a>
                            <a class="btn btn-default btn-danger" ng-click="$ctrl.changeStatus(item, 'REJECTED')">REJECT</a>
                        </span>
                        <span ng-if="item.mainInformation.deviceRegistrationStatus === 'APPROVED'">
                            <a class="btn btn-default btn-info" ng-click="$ctrl.changeStatus(item, 'EXPIRED')">EXPIRED</a>
                        </span>

                        <div class="btn-group" ng-show="item.mainInformation.deviceRegistrationStatus === 'APPROVED'">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Credentials <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="$ctrl.downloadCredentials($event, item.mainInformation.clientId, item.mainInformation.registrationId, false)">Existing</a></li>
                                <li><a href="#" ng-click="$ctrl.downloadCredentials($event, item.mainInformation.clientId, item.mainInformation.registrationId, true)">Renewed</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"
            ng-change="$ctrl.pageChanged()" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>