body {
    position: relative;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

body, html {
    height: 100%;
}

.nav .open > a {
    background-color: transparent;
}

    .nav .open > a:hover {
        background-color: transparent;
    }

    .nav .open > a:focus {
        background-color: transparent;
    }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 265px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 265px;
            background-image: url(../images/leftmenubg.png);
            background-repeat: no-repeat;
            background-position: left 18px;
            padding-left: 23px;
        }
/* #wrapper.toggled #page-content-wrapper {
            margin-right: -265px;
            position: absolute;
        }*/

#sidebar-wrapper {
    background: #333;
    height: 100%;
    left: 265px;
    margin-left: -265px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }

#page-content-wrapper {
    padding-top: 90px;
    width: 100%;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 242px;
    margin-top: 20px;
}

    .sidebar-nav li {
        display: inline-block;
        line-height: 40px;
        position: relative;
        width: 100%;
    }

        .sidebar-nav li:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 3px;
            z-index: -1;
        }

        .sidebar-nav li:hover:before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

        .sidebar-nav li a {
            color: #dddddd;
            display: block;
            padding: 10px 15px 10px 60px;
            text-decoration: none;
            padding-left: 21px !important;
            font-size: 15px;
        }

        .sidebar-nav li.open:hover before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

    .sidebar-nav .dropdown-menu {
        background-color: #222222;
        -ms-border-radius: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .sidebar-nav li a:hover {
        background-color: #2d2d2d !important;
    }

    .sidebar-nav li.active {
        background-color: #2d2d2d !important;
    }

    .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
        background-color: transparent;
        color: #ffffff;
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
        font-size: 20px;
        height: 65px;
        line-height: 44px;
    }

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 20px;
    position: fixed;
    top: 16px;
    width: 32px;
    z-index: 999;
}

    .hamburger:hover {
        outline: none;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-closed:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }

    .hamburger.is-closed:hover .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 0;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 0;
    }

    .hamburger.is-closed .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 5px;
    }

    .hamburger.is-closed .hamb-middle {
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-closed .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 5px;
    }

    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-open:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: black;
}

.wrapper-header {
    /*  position: fixed;*/
    min-height: 75px;
    height: auto;
    width: 100%;
    background-color: #000;
    z-index: 1001;
}

.menu-btn {
    width: 75px;
    background-color: yellow;
    height: 100%;
    position: absolute;
    height: 75px;
}

.sidebar-nav li a span {
    margin-right: 2px;
}

.header-wrapper {
    margin-left: 90px;
}

.logo {
    height: 100%;
    position: absolute;
    border-right: 1px solid #606060;
    padding-top: 10px;
    min-height: 75px !important;
}

form.navbar-form.search {
    width: 100%;
    padding-top: 13px;
}

    form.navbar-form.search .input-group {
        width: 100%;
        float: right;
    }

input.form-control.pull-right.searchbox {
    border: 1px solid #606060;
    background-color: transparent;
    border-radius: 0;
}

button.btn.btn-search {
    background-color: transparent;
    border: transparent;
}

span.input-group-btn.serch {
    right: 0;
    position: absolute;
}

.search-box {
    border-right: 1px solid #606060;
    min-height: 75px !important;
    height: 100%;
}

.profile {
    padding-top: 10px;
    padding-left: 35px;
}

    .profile span a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: normal;
    }

.data-warning {
    background-color: #ce021b;
    color: #fff;
    padding: 12px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
}

    .data-warning a {
        text-decoration: none;
        color: #fff;
        padding: 0px 10px;
        font-size: 16px;
    }

        .data-warning a:hover {
            text-decoration: none;
            color: #fff;
        }

    .data-warning span {
        min-height: 48px;
        border-left: 1px solid;
        float: right;
        margin-top: -12px;
        height: auto;
        padding: 14px 25px;
    }

.data-progressbar {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 20px;
}

.device1 {
    float: left;
    color: #063466;
    text-align: center;
    width: 49%;
}

    .device1 span {
        text-transform: uppercase;
        font-size: 16px;
    }

    .device1 p {
        font-size: 50px;
        margin-bottom: 0px;
    }

.device-bar {
    border-right: 1px solid #e5e5e5;
    margin-bottom: 10px;
    min-height: 121px !important;
}

.device-bar-last {
    margin-bottom: 10px;
    min-height: 121px !important;
}

.total-ingestioon {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #063466;
}

select.selectpicker {
    width: 300px;
    height: 40px;
    border-radius: 3px;
}

.organizationsDIV {
    padding-top: 20px;
    padding-bottom: 20px;
}

.selectbox ul {
    list-style: none;
    text-align: center;
}

    .selectbox ul li {
        display: inline-block;
        padding: 0px 5px;
    }

.prgress2 img {
    padding-top: 78px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.pagetitleh2 {
    color: #646265;
    margin-top: 0px;
}

.marginleft20 {
    margin-left: 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px !important;
    border: 1px solid #ccc;
}

.roundeddiv {
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px !important;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.marginleft10 {
    margin-left: 10px;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.tabbg {
    background-color: #f9f9f9;
    min-height: 500px;
    padding: 20px;
}

#maintab .nav-tabs {
    border-bottom: none;
}

    #maintab .nav-tabs > li.active > a, #maintab .nav-tabs > li.active > a:focus, #maintab .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: transparent;
        border-bottom: 4px solid #f8e71c;
    }

#maintab .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-left: 20px;
    margin-right: 57px !important;
    color: #7b7b7b;
}

    #maintab .nav > li > a:hover {
        background-color: transparent;
        border-color: #fff;
    }

#summarysubtab .nav-tabs {
    border-bottom: 1px solid #c8c8c8;
}

    #summarysubtab .nav-tabs > li.active > a, #summarysubtab .nav-tabs > li.active > a:focus, #summarysubtab .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background-color: #f9f9f9;
        border: 1px solid #c8c8c8;
        border-top: 4px solid #4a4a4a;
        border-bottom: 1px solid #f9f9f9;
    }

#summarysubtab .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 60px;
    margin-left: 20px;
    margin-right: 57px !important;
    color: #7b7b7b;
}

    #summarysubtab .nav > li > a:hover {
        background-color: transparent;
        border-color: transparent;
    }

#alertsubtab .nav-tabs {
    border-bottom: 1px solid #c8c8c8;
}

    #alertsubtab .nav-tabs > li.active > a, #alertsubtab .nav-tabs > li.active > a:focus, #alertsubtab .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background-color: #f9f9f9;
        border: 1px solid #c8c8c8;
        border-top: 4px solid #4a4a4a;
        border-bottom: 1px solid #f9f9f9;
    }

#alertsubtab .nav > li > a {
    position: relative;
    display: block;
    padding: 3px 30px;
    margin-left: 20px;
    margin-right: 1px !important;
    color: #7b7b7b;
}

    #alertsubtab .nav > li > a:hover {
        background-color: transparent;
        border-color: transparent;
    }

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.box {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 70px;
}

.smallgraytext {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 5px;
}

.reddot {
    background-color: #d0021b;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: 4px;
    margin-right: 5px;
}

.alertbg {
    background-color: #f5f8f9;
    padding-top: 23px;
    height: 68px;
    border-radius: 0px 5px 5px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.padleftright {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.marginbtn20 {
    margin-bottom: 20px;
}

.alertright {
    width: 85%;
    float: left;
    color: #043668;
    font-weight: bold;
}

.alphabet {
    padding: 7px;
    border: 1px solid #ccc;
    margin-right: 10px;
    height: 25px;
    line-height: 9px;
    border-radius: 2px;
}

.alertscroll {
    max-height: 210px;
    overflow: scroll;
    overflow-x: hidden;
}

.calwarp {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

ul#calwarp {
    padding-left: 0px;
}

#calwarp li {
    list-style: none;
    float: left;
    margin-right: 25px;
}

    #calwarp li a {
        color: #333;
        text-decoration: none;
    }

        #calwarp li a:hover {
            color: #3399cc;
        }

        #calwarp li a.active {
            color: #3399cc;
            border-bottom: 3px solid #3399cc;
        }

.bluetext {
    color: #3399cc;
}

.greendot {
    background-color: #7ed321;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc !important;
}

#adnew .dropdown-menu {
    /*left: -57px !important;*/
}

.brdradiusleft {
    border-radius: 20px 0px 0px 20px !important;
    height: 30px;
    padding-top: 3px !important;
}

.brdradiusright {
    border-radius: 0px 20px 20px 0px !important;
    height: 30px;
    padding-top: 3px !important;
}

#adnew .dropdown-menu > .active > a, #adnew .dropdown-menu > .active > a:focus, #adnew .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f8e71c;
    outline: 0;
}

.imgwidth100percent img {
    width: 100%;
}

.graphnumbergreentext {
    color: #6eca0a;
    padding-left: 10px;
    padding-right: 10px;
}

.graphnumberredtext {
    color: #d0021b;
    padding-left: 10px;
    padding-right: 5px;
}

.smallgraphwarp {
    width: 185px;
    margin: auto;
}
/*Data pipeline Tab css	*/
.roundeddiv a {
    color: #333;
}

.datapipelinehearding {
    color: #fff;
    padding: 8px;
    text-align: center;
    background-color: #4a4a4a;
}

.whitebackground {
    background-color: #fff;
}

#progresstable .progress {
    background-color: #d0021b;
    margin-bottom: 0px;
    height: 12px;
    margin-top: 4px;
}

.progress-bar-success {
    background-color: #7ed321 !important;
}
/*Step Tab css	*/
#steptabtab .nav-tabs {
    width: 800px;
    margin: auto;
    border-bottom: none;
}

    #steptabtab .nav-tabs > li.active > a, #steptabtab .nav-tabs > li.active > a:focus, #steptabtab .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: transparent;
        border-bottom: 4px solid #4a4a4a;
    }

#steptabtab .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-left: 20px;
    margin-right: 57px !important;
    color: #7b7b7b;
}

    #steptabtab .nav > li > a:hover {
        background-color: transparent;
        border-color: #fff;
    }

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 15px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}

.typeahead {
    background-color: #FFFFFF;
}

    .typeahead:focus {
        border: 2px solid #0097CF;
    }

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}

    .tt-suggestion.tt-is-under-cursor {
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }

.org_form {
    max-width: 750px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

input.formTXT {
    width: 100%;
    height: 43px;
    padding: 8px 5px 0px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 2px 0px #e5e5e5;
}

.orgFORM label {
    position: absolute;
    padding: 3px 6px;
    font-size: 11px;
}

.slectBX {
    padding: 0 !important;
    margin: 5px 0px;
}

select.selectpicker.Country {
    width: 100%;
    height: 43px;
    padding: 8px 5px 0px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 2px 0px #e5e5e5;
}

button.btn.btn-next {
    background-color: forestgreen;
    color: #fff;
}

.org_form h3 {
    font-size: 18px;
}

form.search_engine label {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
}

input#sRegion {
    padding: 0 7px;
    position: relative;
    z-index: 9;
}

.s_country {
    width: 100%;
    min-height: 300px;
    height: 100%;
    background-color: #f5f8f9;
    padding: 10px 15px 5px 15px !important;
}

.formTXT.srcBTNS {
    min-height: 100px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 2px 2px 0px #e5e5e5;
}

.print_preview {
    margin: 0px 0px 40px;
    font-size: 14px;
}

    .print_preview p {
        margin: 0;
    }

.padbtn20 {
    padding-bottom: 20px;
}

.greenbtn {
    background-color: #6bd400;
    color: #fff;
}

    .greenbtn:hover {
        background-color: #5bb104;
        color: #fff !important;
    }

.brdtop {
    border-top: 1px solid #c8c8c8;
}

.underlinelink a {
    text-decoration: underline;
    color: #333;
}

.georelation label {
    margin-left: 20px;
}

.labmarright20 label {
    margin-right: 20px;
}

button.btn.btn-selectbutton {
    margin-right: 5px;
    margin-bottom: 5px;
}

.org_form-step3 {
    max-width: 300px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.datapipelinebox {
    width: 425px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px 40px 30px 40px;
    text-align: center;
    margin-top: 160px;
    border-radius: 3px;
}

.create > option {
    background-color: #ccc;
    width: 100%;
}

.bootstrap-select .btn-info {
    background-color: #fff !important;
    border: 1px solid #ccc;
}

/*.btn-info {
    color: #ccc !important;
}*/

.inner li:last-child {
    background-color: #f9f9f9;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    padding: 10px;
}

.graybg {
    background-color: #f9f9f9;
    padding: 10px;
}

.inactivedot {
    background-color: #9b9b9b;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-top: 2px;
    margin-right: 5px;
    float: left;
}

.test {
    background-color: #9b9b9b !important;
    height: 30px;
}

.flowchartwarp {
    /*     width: 900px; */
    margin: auto;
    margin-top: 70px;
}

.boxwarp {
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
}

.arrowpad {
    padding-top: 23px;
}

.blacklink a {
    color: #999;
    text-decoration: none;
}

.selectbox {
    width: 175px !important;
    border: none !important;
    box-shadow: none !important;
}

#processingdiv {
    background-color: #f9f9f9;
    height: 100%;
    width: 270px;
    /*padding: 0px 20px 20px 20px;*/
    position: absolute;
    right: 0px;
    top: 75px;
    z-index: 999;
}

#itempopcontainer {
    background-color: #f9f9f9;
    height: 100%;
    width: 470px;
    padding: 0px 0px 20px 0px;
    position: absolute;
    right: 0px;
    top: 75px;
    z-index: 1001;
}

#distributioncontainer {
    background-color: #f9f9f9;
    height: 100%;
    width: 475px;
    /*padding: 0px 0px 20px 0px;*/
    position: absolute;
    right: 0px;
    top: 75px;
    z-index: 1001;
}

ul.processdragitem {
    padding-left: 0px;
}

    ul.processdragitem li {
        cursor: pointer;
        list-style-type: none;
        text-align: center;
        float: left;
        width: 55px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
        font-size: 12px;
    }

.draground {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #81d135;
    border: 2px solid #fff;
    box-shadow: 0px 2px 2px #ccc;
    margin-bottom: 10px;
}

.pophearder {
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    position: relative;
}

.pad15 {
    padding: 15px;
}

.greenbutton {
    background-color: #6bd400;
    color: #fff;
}

    .greenbutton:hover {
        background-color: #61c001;
        color: #fff !important;
    }

.popupclose {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 12px;
    top: 9px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.modal-dialog {
    /*width: 600px;*/
    margin: 140px auto !important;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    border-radius: 5px 5px 0px 0px;
}

    .modal-header .close {
        margin-top: -2px;
        background-color: #000;
        width: 21px;
        border-radius: 32px;
        font-size: 21px;
        font-weight: normal;
        opacity: 9;
        text-shadow: none;
        color: #fff;
    }

        .modal-header .close:hover {
            margin-top: -2px;
            background-color: #000;
            width: 21px;
            border-radius: 32px;
            font-size: 21px;
            font-weight: normal;
            opacity: 9;
            text-shadow: none;
            color: #fff;
        }

.modalgraybg {
    background-color: #e5e5e5;
    border-radius: 0px 0px 5px 5px;
}

.yellowbutton {
    background-color: #f8e71c;
    color: #000;
}

.sidebar-nav li.menubottom a {
    background-color: #f8e71c;
    color: #000 !important;
    margin-right: 20px;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    padding-left: 0px !important;
}

    .sidebar-nav li.menubottom a:hover {
        background-color: #f8e71c !important;
    }

#alertsubtab .nav-tabs {
    border-bottom: 2px solid #c8c8c8;
}

#createdatatypetab .nav-tabs > li.active > a, #createdatatypetab .nav-tabs > li.active > a:focus, #createdatatypetab .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #4a4a4a;
}

#createdatatypetab .nav > li > a {
    position: relative;
    display: block;
    padding: 3px 30px;
    margin-left: 20px;
    margin-right: 1px !important;
    color: #7b7b7b;
}

    #createdatatypetab .nav > li > a:hover {
        background-color: transparent;
        border-color: transparent;
    }

.linktext {
    text-decoration: underline;
    color: #000;
}

#createdatatypetab .nav-tabs {
    border-bottom: 2px solid #ccc;
}

.padtopnone {
    padding-top: 0px !important;
}

.leftgraybg {
    background-color: #f9f9f9;
    min-height: 768px !important;
    margin-top: -14px;
    padding: 10px;
    padding-top: 20px;
}

.top50 {
    padding-top: 50px;
}

.blacklinktext {
    color: #999;
    text-decoration: none;
}

.roundwarp {
    width: 60px;
    margin-bottom: 5px;
}

.roundbrdright {
    border-right: 1px solid #ccc;
    padding-right: 18px;
    position: relative;
}

.leftarrow {
    position: absolute;
    right: -1px;
    bottom: -2px;
}

.arrowwrap {
    padding-left: 25px;
}

.whiteabdiv {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -17px;
    right: -7px;
    background-color: #fff;
}

.mqttwarp {
    width: 55px;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}

.testhearding {
    background-color: #646265;
    padding: 5px;
    color: #fff;
}

.testfail {
    background-color: #d0021b;
    text-align: center;
    color: #fff;
    padding: 7px;
    margin: -15px;
}

    .testfail a {
        color: #fff;
        text-decoration: underline;
    }

        .testfail a:hover {
            color: #fff;
        }

.redbg .draground {
    background-color: #d0021b;
}

.redbg .small {
    color: #d0021b;
}

.testsucees {
    background-color: #6bd400;
    text-align: center;
    color: #fff;
    padding: 7px;
    margin: -15px;
}

    .testsucees a {
        color: #fff;
        text-decoration: underline;
    }

        .testsucees a:hover {
            color: #fff;
        }

.btngreen {
    background-color: #6bd400 !important;
    border: 1px solid #6bd400 !important;
}

.padleft10 {
    padding-left: 10px;
}

#addcontainer, #updateContainer{
    background-color: #f9f9f9;
    height: 100%;
    width: 600px;
    padding: 0px 0px 20px 0px;
    position: fixed;
    right: 0px;
    top: 75px;
    z-index: 99;
    border-left: 1px solid #ccc;
}

.pageScroll {
    height: 85%;
    overflow-y: scroll;
    margin-right: -15px;
}


#checkboxwarp .checkbox {
    width: 50%;
    float: left;
    margin-top: 0px;
}

.pad30 {
    padding: 30px;
}

#addnewuser {
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 17px;
    color: #999;
}

    #addnewuser:hover {
        background-color: #fff9af;
    }

.marginbtn30 {
    margin-bottom: 30px;
}

.usersearchresult {
    padding-left: 0px;
}

ul.usersearchresult li {
    list-style: none;
    margin-bottom: 30px;
}

.searchleft {
    width: 45px;
    float: left;
    margin-right: 20px;
}

.searchright {
    /*width: 225px;*/
    float: left;
    padding-top: 10px;
}

.searchround {
    width: 48px;
    height: 45px;
    border-radius: 43px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

.greenbg {
    background-color: #b8e986;
}

.yellowbg {
    background-color: #f5a623;
}

.bluebg {
    background-color: #5dade2;
}

.orangebg {
    background-color: #ff6600;
}

.skybg {
    background-color: #008b7a;
}

.bigroundwarp {
    width: 85px;
    height: 85px;
    border-radius: 43px;
    color: #fff;
    text-align: center;
    line-height: 85px;
    margin: auto;
    font-size: 23px;
    text-transform: uppercase;
}

.glyphicon-option-vertical:before {
    content: "\e235";
    font-size: 23px;
}

.deactivatewarp .dropdown-menu {
    left: -94px;
}

.adduserbox {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ddd;
    margin-bottom: 20px;
}

.adduserboxwarper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
    margin-bottom: 7px;
}

.adduserbox .adduserboxwarper:last-child {
    border-bottom: none;
}

.adduserpoppad {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
/************************************  User and role 01-11-2016************************************/
.graybginnerpage {
    background-color: #f9f9f9;
}

.usertab {
    background-color: #fff;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 600px;
}

.usersbrdleft {
    border-left: 1px solid #ddd;
    min-height: 780px !important;
}

.userstab li a {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.padtop20 {
    padding-top: 20px;
}

.userbtn {
    border-radius: 30px !important;
    border: 1px solid #ccc !important;
    width: 47.5%;
    font-size: 15px !important;
    color: #333;
    margin-right: 12px;
}

.padtop15 {
    padding-top: 15px;
}

.marrigtnone {
    margin-right: 0px;
}

.padtop10 {
    padding-top: 10px;
}

.padright7 {
    padding-right: 7px;
}

.usershearding {
    background-color: #f5f5f5;
    padding: 8px;
    margin-top: 15px;
    color: #dcdcdc;
}

.userroundbig {
    width: 55px;
    height: 55px;
    border-radius: 43px;
    color: #fff;
    text-align: center;
    line-height: 56px;
    text-transform: uppercase;
    font-size: 21px;
}

.userbox {
    border-radius: 5px;
    border: 1px solid #ddd;
    min-height: 100px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.useraddbtn {
    width: 100% !important;
}

.padleftnone {
    padding-left: 0px !important;
}

.usercontaint {
    padding: 8px;
}

ul.rolessearchresult li {
    margin-bottom: 0px;
    list-style: none;
}

ul.rolessearchresult {
    padding-left: 0px;
}

.roleshine {
    margin-top: 0px;
    margin-bottom: 0px;
}

.adsfsrolesstrip {
    background-color: #d8d8d8;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
}


@media only screen and (max-width: 650px) and (min-width: 481px) {
    #page-content-wrapper {
        padding-top: 245px;
        width: 100%;
    }
}

@media only screen and (min-width: 651px ) and (max-width: 979px) {
    #page-content-wrapper {
        padding-top: 245px;
        width: 100%;
    }
}

.list-group-item-disabled {
    color: #777;
    background-color: #eee;
}

#loading-bar .bar {
    background : #ff0;
}

#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;

    border: solid 3px transparent;
    border-top-color:  black;
    border-left-color: black;
}