<div class="whitebackground">
    <div>
        &nbsp;
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <!--<th width="15%">Received Timestamp</th>-->
                    <th width="15%">Organization</th>
                    <th width="15%">Source Name</th>
                    <th width="15%">Source Format</th>
                    <th width="10%">Source Format Version</th>
                    <th width="10%">Source Category</th>
                    <th width="20%">Message</th>
                </tr>
                <tr>
                    <!--<th></th>-->
                    <th>
                        <div>
                            <input type="search" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Org Filter" ng-if="!$ctrl.orgFilterApplied" class="form-control input-sm" ng-model="$ctrl.orgFilter"  uib-typeahead="organization as organization.name for organization in $ctrl.uniqueOrganizations | filter:$viewValue | limitTo:10" typeahead-on-select="$ctrl.search($item, $model, $label)">
                            <button class="btn btn-selectbutton btn-sm" ng-if="$ctrl.orgFilterApplied">
                                {{::$ctrl.orgFilter.name}}
                                <img src="images/close-button.png" ng-click="$ctrl.resetOrgFilter()">
                            </button>
                        </div><!-- /input-group -->
                    </th>
                    <th>
                        <div>
                            <input type="search" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Source Filter" ng-if="!$ctrl.sourceFilterApplied" class="form-control input-sm" ng-model="$ctrl.sourceFilter"  uib-typeahead="source for source in $ctrl.uniqueSources | filter:$viewValue | limitTo:10" typeahead-on-select="$ctrl.search($item, $model, $label)">

                            <button class="btn btn-selectbutton btn-sm" ng-if="$ctrl.sourceFilterApplied">
                                {{::$ctrl.sourceFilter}}
                                <img src="images/close-button.png" ng-click="$ctrl.resetSourceFilter()">
                            </button>
                        </div><!-- /input-group -->
                    </th>
                    <th>
                        <div>
                            <input type="search" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Source Format Filter" ng-if="!$ctrl.sourceFormatFilterApplied" class="form-control input-sm" ng-model="$ctrl.sourceFormatFilter"  uib-typeahead="sourceFormat for sourceFormat in $ctrl.uniqueSourceFormats | filter:$viewValue | limitTo:10" typeahead-on-select="$ctrl.search($item, $model, $label)">

                            <button class="btn btn-selectbutton btn-sm" ng-if="$ctrl.sourceFormatFilterApplied">
                                {{::$ctrl.sourceFormatFilter}}
                                <img src="images/close-button.png" ng-click="$ctrl.resetSourceFormatFilter()">
                            </button>
                        </div><!-- /input-group -->
                    </th>
                    <th></th>
                    <th>
                        <div>
                            <input type="search" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Source Category Filter" ng-if="!$ctrl.sourceCategoryFilterApplied" class="form-control input-sm" ng-model="$ctrl.sourceCategory"  uib-typeahead="sourceCategory for sourceCategory in $ctrl.uniqueSourceCategories | filter:$viewValue | limitTo:10" typeahead-on-select="$ctrl.search($item, $model, $label)">

                            <button class="btn btn-selectbutton btn-sm" ng-if="$ctrl.sourceCategoryFilterApplied">
                                {{::$ctrl.sourceCategory}}
                                <img src="images/close-button.png" ng-click="$ctrl.resetSourceCategoryFilter()">
                            </button>
                        </div><!-- /input-group -->
                    </th>
                    <th>
                        <div>
                            <input type="search" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Message Filter" ng-if="!$ctrl.messageFilterApplied" class="form-control input-sm" ng-model="$ctrl.message"  uib-typeahead="message for message in $ctrl.uniqueDeadLetterMessages | filter:$viewValue | limitTo:10" typeahead-on-select="$ctrl.search($item, $model, $label)">

                            <button class="btn btn-selectbutton btn-sm" ng-if="$ctrl.messageFilterApplied">
                                {{::$ctrl.message}}
                                <img src="images/close-button.png" ng-click="$ctrl.resetMessageFilter()">
                            </button>
                        </div><!-- /input-group -->
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <!--<td>{{::item.receivedTimestamp}}</td>-->
                    <td>{{::item.organizationName}}</td>
                    <td>{{::item.sourceName}}</td>
                    <td>{{::item.sourceFormatName}}</td>
                    <td>{{::item.sourceFormatVersion}}</td>
                    <td>{{::item.sourceCategoryName}}</td>
                    <td>{{::item.message}}</td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"
            ng-change="$ctrl.pageChanged()" boundary-links="true" force-ellipses="true"></ul>
    </div>
</div>