<div class="whitebackground">
    <!--<div>
        <div class="col-md-3">
            <input type="search" class="form-control" ng-model="$ctrl.selectedOrganization"
                   typeahead-on-select="$ctrl.selectOrganization($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedOrganization"
                   uib-typeahead="organization.name for organization in $ctrl.organizations | filter:$viewValue | limitTo:10"
                   placeholder="Search Organization">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedOrganization">
                {{::$ctrl.searchFilter.selectedOrganization.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeOrganization()">
            </button>
        </div>
        <div class="col-md-3"> <input class="form-control" ng-model="$ctrl.searchFilter.alertMessage" placeholder="Seach Alert Message"/></div>
        <div class="col-md-2">
            <input type="search"class="form-control" ng-model="$ctrl.selectedDevice"
                   typeahead-on-select="$ctrl.selectDevice($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedDevice"
                   ng-disabled="!$ctrl.searchFilter.selectedOrganization"
                   uib-typeahead="device.name for device in $ctrl.devices | filter:$viewValue | limitTo:10"
                   placeholder="Search Device">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedDevice">
                {{::$ctrl.searchFilter.selectedDevice.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeDevice()">
            </button>
        </div>
        <div class="col-md-2">
            <input type="search" class="form-control" ng-model="$ctrl.selectedDataType"
                   typeahead-on-select="$ctrl.selectDataType($item, $model, $label)"
                   ng-if="!$ctrl.searchFilter.selectedDataType"
                   uib-typeahead="dataType.name for dataType in $ctrl.dataTypes | filter:$viewValue | limitTo:10"
                   placeholder="Search Source Format">
            <button class="btn btn-selectbutton" ng-if="$ctrl.searchFilter.selectedDataType">
                {{::$ctrl.searchFilter.selectedDataType.name}}
                <img src="images/close-button.png" ng-click="$ctrl.removeDataType()">
            </button>
        </div>
        <div class="col-md-2"><a class="btn btn-primary" ng-click="$ctrl.search()">SEARCH</a></div>
    </div>-->
    <div>
        &nbsp;
    </div>
    <div>
        <table class="table table-bordered" id="progresstable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Instance</th>
                    <th>Activation Time</th>
                    <th>Deactivation Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.items">
                    <td>{{item.name}}</td>
                    <td>{{item.instance}}</td>
                    <td>{{item.activationTime/1000 | time | date : 'MM/dd/yyyy h:mm:ss a'}}</td>
                    <td>{{item.deactivationTime/1000 | time | date : 'MM/dd/yyyy h:mm:ss a'}}</td>
                    <td>
                        <a class="btn btn-success" ng-if="!item.alertRuleSilenced" ng-click="$ctrl.silenced(item)">Silenced</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage"
            max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm"
            ng-change="$ctrl.pageChanged()" boundary-links="true" force-ellipses="true"></ul>-->
    </div>
</div>