<style>
    .linechart .tick {
        display: none;
    }

    .linechart .nv-indexLine {
        display: none;
    }
</style>
<div class="col-sm-12 data-progressbar">
    <div class="col-md-6 marginbtn20">
        <a href="#/notifications-deadletter" class="btn btn-default" style="background-color:#eeeeee"> Deadletter Messages <span class="badge">{{$ctrl.deadletterCount}}</span></a>
        <a href="#/notifications-alert" class="btn btn-warning"> Alert Messages <span class="badge">{{$ctrl.alertCount}}</span></a>
        <a href="#/notifications-error" class="btn btn-danger"> Error Messages <span class="badge">{{$ctrl.errorCount}}</span></a>
    </div>
</div>
<!--<div class="data-warning">
    <img src="images/warning.png">
    <a >
        DATA FAILURE: Lorem ipsum, something something - 5 min ago.
    </a>
    <span>
        Resolved
    </span>
</div>-->
<!-----------------device pregress bar---------------->
<div class="col-sm-12 data-progressbar">
    <div class="col-md-6 device-bar">
        <div class="device1" style="width:33%">
            <span>
                Organizations
            </span>
            <p>
                {{::$ctrl.summary.organizationsCount}}
            </p>
        </div>
        <div class="device1" style="width:33%">
            <span>
                Devices
            </span>
            <p>
                {{::$ctrl.summary.devicesCount}}
            </p>
        </div>
        <div class="device1" style="width:33%">
            <span>
                Data Types
            </span>
            <p>
                {{::$ctrl.summary.dataTypesCount}}
            </p>
        </div>
    </div>
    <div class="col-md-6 device-bar-last">
        <div class="device1">
            <span>
                Data throughput
            </span>
            <p>
                {{::$ctrl.summary.dataThroughput | number: 2}} GB
            </p>
            <div class="smallgraphwarp linechart">
                <span class="pull-left"><nvd3 options="$ctrl.lineChartOptions" data="$ctrl.throuputPerDay"></nvd3></span>
                <percentage value="$ctrl.summary.throughputChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="device1">
            <span>
                data ingestions
            </span>
            <p>
                {{::$ctrl.summary.dataIngestions}}
            </p>
            <div class="smallgraphwarp linechart">
                <span class="pull-left"><nvd3 options="$ctrl.lineChartOptions" data="$ctrl.ingestionsPerDay"></nvd3></span>
                <percentage value="$ctrl.summary.ingestionsChangeRate"></percentage>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 data-progressbar">
    <div class="col-md-12 padbtn20" style="text-align:center">
        <span> From: <span class="bluetext"><input id="fromDate" date-time-picker style="width: 125px" date-time="$ctrl.dateRange.fromDate" /></span></span>
        <span> To: <span class="bluetext"><input id="toDate" date-time-picker style="width: 125px" date-time="$ctrl.dateRange.toDate" /></span></span>
        <button class="btn btn-sm btn-info" ng-click="$ctrl.getData()">Get Data</button>
    </div>
    <div class="col-md-6 device-bar">
        <div class="device1" style="width:100%">
            <span>
                Ingestion Requests
            </span>
            <nvd3 options="$ctrl.ingestionRequestsOptions" data="$ctrl.ingestionsChart"></nvd3>
        </div>
    </div>
    <div class="col-md-6 device-bar-last">
        <div class="device1" style="width:100%">
            <span>
                Ingestion Size
            </span>
            <nvd3 options="$ctrl.ingestionSizeOptions" data="$ctrl.throughputChart"></nvd3>
        </div>
    </div>
</div>
<div class="col-sm-12 data-progressbar">
    <div class="col-md-6 device-bar-last">
        <div class="device1" style="width:100%">
            <span>
                Throughput Requests
            </span>
            <nvd3 options="$ctrl.multiBarChart" data="$ctrl.processingTime"></nvd3>
        </div>
    </div>
    <div class="col-md-6 device-bar">
        <div class="device1" style="width:100%">
            <span>
                AWS Instances/Kubernetes Statistics
            </span>
            <nvd3 options="$ctrl.awsOptions" data="$ctrl.awsStatistics"></nvd3>
        </div>
    </div>
</div>
<div class="col-sm-12 data-progressbar">
    <div class="col-md-6 device-bar">
        <div class="device1" style="width:100%">
            <span>
                Top 10 Ingestions
            </span>
            <p>
            <div ng-repeat="d in $ctrl.topTenIngestions">
                <div class="col-md-2">
                    <span><a ui-sref="app.organization.main.devices({ organizationId: d.id, deviceCategoryId : 1})">{{d.name}}</a></span>
                </div>
                <div class="col-md-10">
                    <uib-progressbar animate="false" value="d.value" type="success"><b>{{d.data}}</b></uib-progressbar>
                </div>
            </div>
            </p>
        </div>
    </div>
    <div class="col-md-6 device-bar-last">
        <div class="device1" style="width:100%">
            <span>
                Top 10 Throughput
            </span>
            <p>
            <div ng-repeat="d in $ctrl.topTenThroughput">
                <div class="col-md-2">
                    <span><a ui-sref="app.organization.main.devices({ organizationId: d.id, deviceCategoryId : 1})">{{d.name}}</a></span>
                </div>
                <div class="col-md-10">
                    <uib-progressbar animate="false" value="d.value" type="info"><b>{{d.data | number:2}} KB</b></uib-progressbar>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
