﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Progress Rail
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <link href="css/loading-bar.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/material-design-switch.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-wrapper">
        <div id="wrapper" class="">
            <div ui-view></div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/jsoneditor.min.js"></script>
    <script src="js/clipboard.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="main.js"></script>
    <script>
        $(document).ready(function () {
            $('.searchbox').hide();
            /*$('button.btn.btn-search').click(function () {
                $('.searchbox').show(1000).slideDown(1000);
            })*/
        });
    </script>
	{% if env !== "prod" %}
    <script type="text/javascript" src="http://devtools.prsx.net:8080/s/dd2e00321600df76bb55867f291dd2fc-T/en_UScx08le/71006/b6b48b2829824b869586ac216d119363/2.0.11/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=71121633" async></script>
	{% endif %}
</body>
</html>
